[2016-08-15 08:38] alkovpro opened #1 "Fix PyPI auto deployment"
1. check and fix pypi authorization in travis config
2. fix markdown readme generation

[2017-05-02 09:33] allburov opened #2 "Переименовать pypi-пакет в dohq_artifactory"
**dohq_art** - непонятно что за "искусство" dohq, хочется видеть полное, без сокращений имя *dohq_artifactory*

[2017-05-02 13:59] Tim55667757 commented on #2
проверяй:
1. Переименовано в dohq_artifactory (старый билд тоже
2. Добавил автоинкремент билд-версии (как в кросспм и фаззи-классификаторе). Теперь в setup.py достаточно только мажор/минор менять: __version__ = '0.2'  # identify main version of dohq_artifactory
3. pip install dohq_artifactory локально у меня отработал:
!image.png!
4. Ссыль на индекс: https://pypi.python.org/pypi/dohq-artifactory

[2017-05-02 13:59] #2 closed

[2017-05-02 14:47] Tim55667757 commented on #1
Fixed in #2 issue:
link to build in index: https://pypi.python.org/pypi/dohq-artifactory
link to build with fix: https://pypi.python.org/pypi/dohq-artifactory/0.2.10

Deploy secret changed to devopshq
travis-ci build success: https://travis-ci.org/devopshq/artifactory/jobs/227958590#L578

[2017-05-02 14:47] #1 closed

[2017-08-07 11:23] allburov opened #3 "Add Artifactory Query Language support"
I want run [AQL](https://www.jfrog.com/confluence/display/RTF/Artifactory+Query+Language):
[code]

[2017-08-07 11:26] allburov opened #4 "Add HTTP Session INIT"
I want bulk update artifact (delete). But **requests** by default INIT connection every time
https://github.com/devopshq/artifactory/blob/master/artifactory.py#L438

It would be great
[code]

[2017-08-11 09:07] #4 closed

[2017-08-15 08:16] allburov opened #6 "Artifactory >=5.0 - REST API endpoints which used a pipe character ("|") as a separator have undergone corresponding changes so you can use a semicolon (";")"
The version of Tomcat used in Artifactory 5.0 has been upgraded to 8.0.39. This version of Tomcat no longer supports unencoded URLs, so the REST API endpoints which used a pipe character ("|") as a separator have undergone corresponding changes so you can use a semicolon (";") as a separator instead, or use escaping to represent a pipe as %7C. Any scripts that use these endpoints may have to be ch

[2017-08-17 09:24] #3 closed

[2018-01-15 06:31] allburov opened #8 "@property.setter must be one transaction"
If you want set any `properties` to artifactory, lib try remove and then set properties.
https://github.com/devopshq/artifactory/blob/master/artifactory.py#L1236-L1238

But it's bad, if any network error is caused, then artifact loses **all** property.

[2018-01-17 05:47] #6 closed

[2018-01-17 05:47] #8 closed

[2018-01-26 20:49] LarsNordin opened #10 "Add some documentation on how to troubleshoot and debug"
Please add some documentation on how to troubleshoot and debug

I had to add a custom logger for requests.packages.urllib3 to see the requests to my artifactory server. It would be nice to have a flag that could do this for me.

[2018-01-29 16:11] Tim55667757 commented on #10
@allburov FYI

[2018-02-13 04:31] allburov opened #11 "Python 3.6 compatibility; Path.glob()"
https://github.com/Parallels/artifactory/issues/49
-----
Hi,

It appears that globbing behavior in Pathlib has changed/optimized to use scandir in 3.6: https://bugs.python.org/issue26032

[code]
Trivially implementing scandir on _ArtifactoryAccessor results in a second failure, so this may be more than just adding a new method that wraps listdir.

[2018-03-27 06:15] allburov opened #14 "Add operation with user\repo\group\permission"
Add operation with user\repo\group, e.g. CRUD operation

Users operations:
- [ ]  Create
- [ ]  Search
- [ ]  Add User to Group(s)
- [ ] Add User to Permission
- [ ]  ? Change
- [ ]  ? Remove

Group operations:
- [ ]  Create
- [ ]  Search
- [ ]  LDAP Group supported
- [ ] Add Group to Permission
- [ ]  ? Change
- [ ]  ? Remove

Repo operations:
- [ ] Create
- [ ] ? Search
- [ ] Add Repo to Permiss

[2018-03-27 06:20] allburov commented on #14
WIP: https://github.com/devopshq/artifactory/tree/more-operations

[2018-03-28 06:32] allburov commented on #14
TODO moved to https://github.com/devopshq/artifactory/pull/15

[2018-03-28 06:32] #14 closed

[2018-06-16 06:02] Xcelled commented on #11
I have a workaround I posted on the other repo.

[2018-06-16 14:34] allburov commented on #11
Hello, can yoi give link to commit with this fix or create pulk request?)

[2018-06-16 18:22] Xcelled commented on #11
https://github.com/Parallels/artifactory/issues/49

It's hacky so I don't want to make a pull request as is. As I mention, I'm not even sure if this is the best way to implement `scandir`.

[2018-08-02 11:17] kryzdof commented on #11
I tried your workaround and it worked fine for me.
I would recommend to put it in.

[2018-08-08 06:57] kumbasar opened #18 "API Key for authentication"
Hello,

Is it possible to enhance this module with the "API Key for authentication" feature?

Thanks,
volkan

[2018-08-09 13:45] kryzdof commented on #18
Hi,

did you try to just use the auth parameter?
For me it works if I use
ArtifactoryPath(path, auth=("username", "API Key"))

greetings

[2018-08-09 16:30] norpol opened #20 "Add `security/token` class"
Currently the `AdminObject` only allows [`_create_and_update()`](https://github.com/devopshq/artifactory/blob/393a8860144cfe64ae79277c25131e3c1154a28c/dohq_artifactory/admin.py#L66-L82) by a JSON, since the API also have non-json "endpoints" such as "[Create Token](https://www.jfrog.com/confluence/display/RTF/Artifactory+REST+API#ArtifactoryRESTAPI-CreateToken) I need to figure out a clean way of

[2018-08-14 03:27] allburov commented on #18
@kumbasar Could you try the solution above? We will add it to the README, if it helped

[2018-08-14 16:02] kumbasar commented on #18
The workaround is fine ;-)

[2018-08-17 15:38] norpol opened #22 "Add richer Group API request"
**Update**: Just sent JFrog an E-Mail asking for documentation on this endpoint.

Currently `admin.py` is using the [only documented](https://www.jfrog.com/confluence/display/RTF/Artifactory+REST+API#ArtifactoryRESTAPI-GetGroupDetails) way of retrieving details of a group by calling the `api/security/group/<group id>` endpoint.

This endpoint doesn't provide any information on which users are in a

[2018-08-17 16:56] norpol opened #24 "Documention on Integration Tests is missing and add them to CI"
The integration tests aren't run on the Travis CI, @allburov do you run them against your own Artifactory Instance?

I know that the API isn't available without an Artifactory license, I've just sent them a support request asking if they could also add API scope to the free Artifactory version, otherwise I don't think it will be possible to run integration tests against via. Travis.

[2018-08-20 03:15] allburov commented on #22
Use undocumented API is bad practice, I think.
For python-world remember `pip.main`-problem https://github.com/pypa/pip/issues/5240

@norpol keep us informed that JFrog will respond to your mail

But if this functionality is critical and needed by the community, can we duplicate the class `Group` => `GroupUndocument`?

1. After documenting this entrypoint, we can use class inheritance, and drop-do

[2018-08-20 03:17] allburov commented on #22
Another plus for a double implementation - we do not exactly know in which version of the Artifactory introduced such an entrypoint...

[2018-08-20 03:37] #18 closed

[2018-08-20 13:04] norpol commented on #22
@allburov Cool! I'm happy to adopt those changes, will force push this branch and bump here when I'm done with it.

[2018-08-20 18:29] norpol commented on #22
Ok, just tested this code a little bit more :-).

## Caveats

`_create_and_update` paths are not persistent...
- create => `/api/groups`
- update => `/api/groups/<group name>`

`delete` has a two possible solutions:
- `/api/security/groups/<group name>` => supports sending DELETE request
- `/api/groups` => supports deleting multiple groups at the same time (consumes POST with list of groups as dat

[2018-08-23 02:03] nathanperkins opened #27 "Support for Deploy Artifact by Checksum"
What do you guys think about adding support for [deploying artifacts by checksum](https://www.jfrog.com/confluence/display/RTF/Artifactory+REST+API#ArtifactoryRESTAPI-DeployArtifactbyChecksum)? It uses the checksum to check if the artifact already exists on the server and copies it over to the new location without requiring the upload.

I think it'd be good to use for default behavior because the

[2018-08-31 14:09] gsemet opened #28 "Support X-JFrog-Art-Api authentication"
Hello,

I started to use your nice library along with the Jfrog CLI, and the CLI does not need the username when authenticating. The API Key already has this information in it, but encrypted.

The Artifactory Rest API provides a way to use it with the `X-JFrog-Art-Api` header. So in order to make dohq-artifactory apikey-friend, I just implemented my own authentication class:

[code]

So user can c

[2018-08-31 14:15] gsemet opened #29 "minor issue when using / operator"
Hello

When using the / operator again a ArtifactoryPath without repository, the url seems wrong.
Example:
[code]
Instead of `http://myartifactory.server.com/artifactoryreponame/path`.

If the `reponame` starts with a `/`, it works great:
[code]
This does not seem to have any impact on the api however.

[2018-09-03 07:43] gsemet commented on #28
I see if I find time to do a PR :) But sure, it works :)

[2018-09-03 07:45] gsemet commented on #28
what about a trick such as if auth is a str, so consider it as a apikey? There is already "if it is a tuple, it is a basic auth with username+password or username+apikey"

[2018-09-04 09:50] mentaal opened #30 "Uploading to Pypi repository"
Hi, this isn't a bug but more a question on how to leverage this tool to interface to a PyPi repository on Artifactory.

If I use the standard setuptools approach to upload a wheel: `python setup.py bdist_wheel upload ...`
The wheel gets uploaded and is searchable and downloadable via pip. This was done as a test with an initial 0.1 version of a module.

I have tried this tool to upload a new vers

[2018-09-04 15:01] mentaal commented on #30
Ah, if I add the properties pypi.summary, pypi.version, pypi.normalized.name and pypi.name to the wheel, it becomes available via pip.

[2018-09-05 09:12] fuzzmz opened #31 "ArtifactoryPath returns incorrect path if URL doesn't contain artifactory outside of domain"
The `ArtifactoryPath` method returns an incorrect value if the string passed to it doesn't contain the word `artifactory` somewhere outside of the domain.

For example, if setting up Artifactory behind NGINX with a custom domain, then you have the following behavior:

[code]
Returns `http:/af.demo.local/gradle-ivy-local` (notice just the once forwards slash at the scheme level)

Using `path = Arti

[2018-09-05 09:36] fuzzmz commented on #31
At a first glance looks like the error is coming from somewhere inside `pathlib`. Hopefully I'll have more time to investigate.

[2018-09-07 03:57] allburov opened #32 "Pip install from git repo failed"
https://asciinema.org/a/FqK4sYBYQn6bjhrST5kqdEDnZ

[2018-09-07 03:57] allburov commented on #32
Wrong repo :)

[2018-09-07 03:57] #32 closed

[2018-09-07 09:30] #28 closed

[2018-09-07 09:36] #10 closed

[2018-09-07 09:46] allburov commented on #30
@mentaal, thanks for feedback!
Pypi have multiple format - `whl, egg, tar.gz`.
And I think it's too hard to support all of this, our library support Artifactory, not pypi.

Also, Artifactory can autoparse properties from whl path. We upload whl to path like below and Artifactrory after ~ 1 min set properties and package available in pypi-index
[code]

[2018-09-07 09:52] #30 closed

[2018-09-07 10:00] #11 closed

[2018-09-07 11:02] mentaal commented on #30
Thanks @allburov, indeed I see that in the documentation but for some reason it wasn't working for me. Maybe just a problem with our installation of artifactory.
Glad to hear that it works for you - and I agree - if it works then there is nothing extra to be done here!

[2018-09-07 12:48] allburov commented on #30
Anyway, we add both method to FAQ.md, may be it will help other users :) Thanks!

[2018-09-27 14:14] mentaal opened #36 "Unlinking a file yields "could not locate artifact""
I tried unlinking a file from artifactory using `dohq_artifactory-0.4.102`
I got an error 404 "Could not locate artifact"

I then tried uninstalling the aformentioned version of dohq-artifactory and installing `artifactory-0.1.17` which seemed to successfully unlink the file.

[2018-09-27 14:17] mentaal commented on #36
Below is the stack trace, with some names suitably altered:

    RuntimeError                              Traceback (most recent call last)
    <ipython-input-24-57003bea8697> in <module>()
    ----> 1 p.unlink()

    c:\Python37-32\lib\pathlib.py in unlink(self)
       1264         if self._closed:
       1265             self._raise_closed()
    -> 1266         self._accessor.unlink(self)

[2018-09-27 15:15] mentaal commented on #36
Actually this may be been something to do without providing the `auth` parameter as I get the same error with the `artifactory` library when I forgot to provide it.

[2018-10-02 18:07] Clueless76 opened #38 "https connection seem broken with apl"
Hi,

this morning I'm used the API by work and here what I can remember.

Following code was executed:

    from artifactory import ArtifactoryPath
    aql = ArtifactoryPath( "https://my-artifactory/artifactory", verify=False)
    artifacts = aql.aql("items.find", {"repo": "myrepo"})

When the line apl.apl was executed the connection could not verify SSL connection, even if the verification was se

[2018-10-02 18:08] Clueless76 opened #39 "Documentation"
In the docu is a small issue with the installation part:

    python3 -mpip install dohq-artifactory

should be

    python3 -m pip install dohq-artifactory

Thanks,
Markus

[2018-10-03 01:10] allburov commented on #39
Thanks for feedback! Python support both variants or you have a error?

[2018-10-03 01:12] allburov commented on #38
Give us traceback and out 'pip freeze' command, please

[2018-10-05 12:53] mentaal commented on #36
This happened again to me today and I was certain that I had added the relevant authentication token.
This time, I tried to upload a file and got the same "Unauthorized" message.

I uninstalled dohq_artifactory-0.4.103, reinstalled artifactory and the upload worked just fine.

Could this be a compatibility issue with the version of artifactory that we have in house?

[2018-10-23 11:04] norpol commented on #31
Interesting issue, sounds like some pathlib issue indeed.
Just out of curiosity:
What does `http://af.demo.local/api/application.wadl` report for you? Our initial artifactory nginx configuration was removing the `/artifactory/` at top-level, resulting in semi-working api access. Later I figured that even the `.wadl` was expecting `/artifactory/` to be existent. Overall their NGINX config examples

[2018-10-23 12:35] fuzzmz commented on #31
@norpol, fun times. Looking in the `application.wadl` it does look like it's expecting `/artifactory/` to exist:

`<resources base="http://af.demo.local/artifactory/api/">`

Surprisingly (or fortunately) though I haven't run into any API issues yet.

[2018-10-23 14:31] fuzzmz commented on #31
Damn. Do you remember any examples? I'd like to open a support ticket with
JFrog to hopefully have it fixed, or at least acknowledged.

On Tue, Oct 23, 2018, 17:30 Phi|eas |ebada <notifications@github.com> wrote:

[2018-10-23 14:45] norpol commented on #31
Not sure anymore, but I'll let you know if I recall (I've quit the job where I was using Artifactory, so can't tell from the notes I had there).

[2018-11-12 07:37] xyzmurali commented on #38
The issue is in the session.post call of function aql in class ArtifactoryPath.
"verify=self.verify, cert=self.cert" has to be passed as part of this this call.

Replace
     r = self.session.post(aql_query_url, data=aql_query_text)
with
      r = self.session.post(aql_query_url, data=aql_query_text, verify=self.verify, cert=self.cert)

I do not have access to push this change, can someone with ac

[2018-11-13 08:19] allburov commented on #38
@xyzmurali @Clueless76 We pass `cert` and `verify` to session https://github.com/devopshq/artifactory/commit/d1d6814ebd604cbf9fd11c4284b15c8c87e35bec

Can you try install `develop` branch and check?
[code]

[2018-11-13 10:37] xyzmurali commented on #38
It worked. Thanks

[2018-11-13 13:39] allburov commented on #38
Fix also available in master and pypi package. Thanks!

[2018-11-13 13:39] #38 closed

[2018-12-05 10:58] allburov commented on #29
@gsemet @oux fix added, could you test `develop` branch and give me feedback?

You can install it from git directly:
[code]

[2018-12-12 17:51] oux commented on #29
It works for me (linux) with your fix. Thanks !

[2018-12-13 01:07] allburov commented on #29
Master also have fix. Thanks for a feedback!

[2018-12-13 01:07] #29 closed

[2018-12-13 01:09] #39 closed

[2019-01-16 05:21] viggyprabhu opened #44 "'children' does not give list of filenames, only sub-directory names"
I understand this seems to be something very basic but when I use this library to get list of files from a certain Artifactory path, I notice that in 'children', I get only subdirectory names and no names of the files which are also present in the directory. I am not sure if this is because I am using an incompatible version of JFrog Artifactory which is 4.4.3

[2019-01-18 08:47] drnlm commented on #31
This is due to the code in _ArtifactoryFlavour's splitroot implementation

It's possible to work around the issue by providing a suitable configuration file, but that isn;t always feasible, so it would be nice to make this behaviour more configurable.

[2019-01-18 17:53] viggyprabhu commented on #44
So I found out that this is happening when the files in the directory are "not locally present" in the artifactory server. When I click on any of the file in the browser, that is when it gets downloaded/cached in the server and I see a current date on it and also the file stats shows me as the creator of it. At very vague level, my understanding is that initially artifactory is just showing list o

[2019-01-24 22:16] derrix060 opened #46 "404 when dealing with remote repository"
Hello, when trying to get the status or download an artefact that leaves in a [remote repository](https://www.jfrog.com/confluence/display/RTF/Remote+Repositories), I get a 404.

[code]

If I copy the link on my browser, I'm able to download the file, and then if I try to run the command again, it succeeds.

[2019-01-24 22:31] derrix060 commented on #46
It might be an error with the request.session:

[code]

[2019-01-28 20:42] derrix060 commented on #46
@allburov it also returns 403:

[code]

[2019-01-29 04:05] #46 closed

[2019-01-29 16:12] rafamunozg opened #49 "User class is not handling the property: disableUIAccess"
Artifactory allows to set a property for each user to indicate if the UI will be available or not for the user. Property is called: _disableUIAccess_.

JSON security reference shows it here: [Security Configuration](https://www.jfrog.com/confluence/display/RTF/Security+Configuration+JSON)

Was there any reason why this wasn't included in the plugin?

I suggest the property to be added to the class

[2019-01-29 19:47] derrix060 commented on #46
@allburov any plans to release a new version on pypi with the code from #47?

[2019-01-30 18:57] rafamunozg opened #50 "User.update() fails with Bad request when updating the user"
What I'm trying to do is to update a user by adding groups to it. So, the user and groups exist beforehand, but when trying to update I get:

requests.exceptions.HTTPError: 400 Client Error: Bad Request for url: https://_servername_/artifactory/api/security/users/_sampleuser_

Trying to replicate the operation using Postman, I think the problem because when you are updating the user you need to us

[2019-02-18 16:17] hujarl opened #51 "Using library to start artifact scan"
Looking for info on having this library kick off the artifact scan after upload.  Is that already built into the library?

[2019-02-20 03:49] allburov commented on #51
@hujarl what do you mean by scanning?

[2019-02-20 15:11] hujarl commented on #51
Apologies for the lack of clarity.

With Artifactory, assuming you also have the Xray tools, there are REST API calls to start a scan of the artifacts for known vulnerabilities  -

https://www.jfrog.com/confluence/display/XRAY/Xray+REST+API#XrayRESTAPI-ScanArtifact

[2019-03-01 03:13] allburov commented on #51
@hujarl Unfortunately, xray is another product and have its own API. For now there is no way to run a scan in this library.
But it's will be really useful do it with one python-library.
We would be grateful for the contribution to the community :)

[2019-03-04 19:33] hujarl commented on #51
If I get it solved I will definitely share!

Sent from my iPhone

[2019-03-14 08:58] joelee2012 commented on #31
can someone fix this issue ?

[2019-03-15 14:19] gsemet commented on #31
Hello. I reproduce this issue:
[code]

Really looks like somewhere if the path contains an "artifactory" path (between two "/" I guess), it consider is as a full URL to artifactory server instead of a repo/path part and reuse the same server than the `arti` object.

When the path does not contain "artifactory" folder, this code works well.

[2019-03-22 14:09] sebalaise commented on #31
I added a fix for this issue:

`    def splitroot(self, part, sep=sep):
        """
        Splits path string into drive, root and relative path

        Uses '/artifactory/' as a splitting point in URI. Everything
        before it, including '/artifactory/' itself is treated as drive.
        The next folder is treated as root, and everything else is taken
        for relative path.

        Ad

[2019-04-04 17:38] tsal commented on #31
Similar issue, using the Jfrog SaaS solution:

[code]

results in:

[code]

Which makes walking the path impossible as request will reject that URL (and rightfully so).

[2019-04-04 17:49] tsal opened #52 "client is broken at a basic level"
I can't even open a connection because the code is mangling the url scheme when it tries to join the API path to the provided URL.

[code]

[2019-04-04 20:18] vicyap commented on #31
I just submitted a PR. I've been running into this issue as well.

[2019-04-05 22:59] rafilkmp3 opened #54 "No support python 3.7"
If i try use this with python 3.7.3 i get this error, i think this could be a issue from main artifatory package

[code]

but with python 2.7 i can import the module without problems
[code]

[2019-04-06 04:32] allburov commented on #54
@rafilkmp3
It looks like a local issue - you have a file with same name `artifactory`: `/Users/rafael.sathler/projetos/hadoop-deploy/artifactory.py` and you current workdir is `Users/rafael.sathler/projetos/hadoop-deploy/` or it path in the variable  `PYTHONPATH`

Could you repeat this in you environment and give me feedback.
[code]

If it will work - you need rename the file `hadoop-deploy/artifa

[2019-04-06 04:38] #31 closed

[2019-04-08 13:30] rafilkmp3 commented on #54
thanks @allburov to help me  figure out, I renamed the file and now I can use the module

[2019-04-08 13:30] #54 closed

[2019-04-08 19:20] vicyap commented on #52
Do you know what version or commit you repro'd this at?

[2019-04-11 10:56] nordstad opened #56 "Cannot download latest version"
Cannot get the latest version of `dohq-artifactory` using pip.

[code]

[2019-04-12 10:35] nordstad commented on #56
Works now. Close issue

[2019-04-12 10:35] #56 closed

[2019-04-15 19:25] plannigan opened #57 "Fail in get_stat_json on virtual repository"
This is copied from a ticket that was opened in the deprecated repository. The issue is still present in this fork.

Hi,

I am trying to upload via the deploy_file method, and i had issue uploading through a virtual repository with error "404, Not found", what does not make sense because i am trying to upload a new file that he shouldn't be exists any way.

So after debugging the error trace back

[2019-04-16 10:44] gsemet opened #58 "/ operator on ArtifactoryPath fails if string contains "/""
Maybe linked to #31.

[code]

[2019-04-16 13:07] plannigan commented on #57
This also breaks functions like `is_dir()` as it only checks for `OSError`.

[2019-04-16 13:54] allburov commented on #58
Not in pypi yet

[2019-04-23 09:33] nachoferre opened #62 "Path.glob to find files not working"
we are having issues with this code from you examples
[code]

it throws the following error
`NotImplementedError: Non-relative patterns are unsupported`

Im having exactly the same i=error in my code please let me know whats wrong here

[2019-05-10 16:50] Gernatch commented on #62
Same issue here.

[2019-05-16 16:02] vertrost commented on #62
+1, v.0.4.107, python 3.7.3

[2019-05-17 00:47] qinrongx opened #63 "ask for new fields in ArtifactoryFileStat"
Hi there,
  For prune purpose,  it seems the "Last Downloaded" timestamp is more valuable.
  If the artifact has been frequently downloaded and this timestamp got refreshed continuously, we will keep it in spite of its old "ctime" value.
  Please help check this.
  Thanks.

[2019-05-20 21:55] florczakraf commented on #62
I've just tried to use this lib and faced the exact same issue. Quick debugging session showed that this regression has been introduced in commit 1526b934d3132521c9f22f48972996e70477ce94 (#53, #31).

In my case (`**/*.json`) `splitroot` used to return:
[code]
with that patch it's:
[code]
which interferes with the rest of the `pathlib` implementation. I suppose that if you don't base on anything th

[2019-05-21 10:34] gangefors opened #65 "ArtifactoryPath.set_properties should use Update item properties API instead"
There is an issue with using the Set item properties API in artifactory. When setting a lot of properties you can run into the issue where the URI becomes too long.

If set_properties use the Update item properties API no such issue exists since it takes json data as input with a PATCH request.

https://www.jfrog.com/confluence/display/RTF/Artifactory+REST+API#ArtifactoryRESTAPI-UpdateItemProperti

[2019-05-21 14:43] gsemet commented on #58
Hi. It is still not released yet, is their a reason?

[2019-05-21 18:52] ycui opened #66 "UnboundLocalError for deploy_file when calc_md5 or calc_sha1 is turned off"
When calc_md5/calc_sha1 is turned off. md5/sha1 in the function becomes unbound names and will cause UnboundLocalError : local variable 'md5' referenced before assignment

A simple fix is to add md5=None, sha1=None to the beginning.

[code]

[2019-05-21 21:55] mentaal opened #67 "build promotion"
Does this library support build promotion? I know that copying is metioned in the Readme but I'm looking to replace the otherwise flakey jenkins build promotion with a manual script. Just copying isn't enough because I want the artifacts within the build that I'm promoting to be updated to point to the new repository that I've promoted the build to.

Thanks

[2019-05-22 12:20] cuichenli commented on #50
Hi there, looks like this issue has not been addressed yet. Can I just jump in and work on it? Roughly had a look and think it should be simple.
I would basically create one extra parameter for `_create_and_update` to indicate it is going to use `put` or `post`, and the default value of it would be `post`. Or I can just separate the method into two different ones.

[2019-05-24 16:53] stac47 commented on #62
@nachoferre this is implemented (and working) on the develop branch.

[2019-05-24 17:06] stac47 opened #68 "[develop] Glob fails when urllib3 > 1.25"
__This issue is linked to the develop branch__
With urllib3 > 1.25, the URL parsing is more constrained.

For instance, with urllib3==1.24.3:
[code]
With urllib3==1.25, the same call leads to the following exception: `urllib3.exceptions.LocationParseError: Failed to parse: //15.0.0.300`

This introduction was to explain why when you are walking folder tree, it can occur that a folder is named '15.

[2019-05-27 17:07] Arlington1985 opened #70 "find_group exception if description empty"
`artifactory_.find_group(group_name_ro)` command fails if *description* of the group is empty:
[code]

[2019-05-28 01:29] #68 closed

[2019-05-28 01:32] #58 closed

[2019-05-28 03:48] allburov commented on #70
@Arlington1985 thanks! Your fix available in pypi `doqh-artifactory==0.4.108`

[2019-05-28 03:48] #70 closed

[2019-05-28 03:50] allburov commented on #62
Fx available in pypi `doqh-artifactory==0.4.108`

Could someone test it?

[2019-05-28 03:57] allburov commented on #68
@stac47 thanks! This bug affected to our CI process too

[2019-05-28 08:49] vertrost commented on #62
Thank you, works fine! Tested on corporate artifactory and on example in the first message.

[2019-05-28 09:59] #62 closed

[2019-05-28 10:02] norpol commented on #52
Might be related to #31.

[2019-05-29 17:41] tsal commented on #52
at the time, it was from `pip3 install` but I don't remember the version that pulled; I'd tried the master branch as well. I abandoned python and went with Go for the solution so I don't even have that code anymore.

[2019-05-31 06:54] souris4science opened #72 "is_file() raises when the artifacts' name contains square brackets"
The following exception is raised when is_file() method is called for an artifact where its name contains square branckets ('[' or ']'):

    if artifact.is_file():
  File "C:\Python37-32\lib\site-packages\artifactory.py", line 1035, in is_file
    return self._accessor.is_file(self)
  File "C:\Python37-32\lib\site-packages\artifactory.py", line 534, in is_file
    stat = self.stat(pathobj)
  File

[2019-06-05 12:30] allburov commented on #63
@qinrongx Where you want to use "Last Downloaded" properties? Could you give us example of code?
It may not work for current library version, just show how you would like

[2019-06-05 12:42] allburov commented on #72
@nikolasj could you help?

[2019-06-05 14:01] qinrongx commented on #63
Hi there,
Later on I found this property in https://www.jfrog.com/confluence/display/RTF/Artifactory+REST+API. :)
We tried to use this property to sort and then prune artifacts before.

[2019-06-05 14:01] #63 closed

[2019-06-20 01:00] beyondan opened #76 "AttributeError: 'ArtifactoryPath' object has no attribute 'aql'"
Steps to reproduce:

1. Install `dohq-artifactory`, and then install `artifactory`
[code]

2.
[code]

This happens because installing `artifactory` overwrites `SITE_PACKAGES/artifactory.py` that was also used by `dohq-artifactory`. Now I NEED to have both packages installed, and `dohq-artifactory` will always be installed before `artifactory`.

I'm working on a pipeline that uses framework-plugin

[2019-06-21 05:03] allburov commented on #76
@beyondan devopshq/artifactory is supported version for the original library parallels/artifactory.
[parallels/artifactory/README.md](https://github.com/parallels/artifactory#this-repo-is-currently-outdated) tells us about it.
![image](https://user-images.githubusercontent.com/4376814/59898541-7afdec00-941b-11e9-84d9-fedecc55da19.png)

But if you was confused someone may be have the same question.

[2019-06-21 05:13] #76 closed

[2019-06-21 05:16] allburov commented on #76
@beyondan I mean you don't needed anymore use `artifactory`-pypi package, use `dohq-artifactory`. We support all functional from original library

[2019-06-21 05:21] allburov opened #77 "Upload artifactory and dohq-artifactory to pypi"
We have API KEY or we can contact with parallels, get permission to pypi and upload `dohq-artifactory` to pypi with two names:
1.  `artifactory` - we can replace it because we didn't do breaking changes
2. `dohq-artifactory` for backward compatibility in `requirements.in|txt`

It will close question like this #76

[2019-06-21 05:21] allburov commented on #77
@Tim55667757 internall track id: CM-32482

[2019-06-21 05:26] allburov commented on #76
@beyondan It seems we can replace original `artifactory` - teams will continiue use `artifactory` but it will be support aql and other features.
Will be done in #77

[2019-06-25 15:43] chris-alation opened #78 "Artifactory Query Language get the latest artifact in a path"
How would one sort and limit results when using the library? Basically, get the latest artifact in path.

 Using the API I see that one can do something like this: `.sort({"$desc" : ["created"]}).limit(1)` with find.

But how to include this when using the library? I'm not sure how to include the sort and limit in the below code.
[code]

[2019-06-25 19:42] #78 closed

[2019-06-26 11:32] allburov commented on #78
@chris-alation how did you solve this?

[2019-06-26 17:28] seppi91 opened #79 "KeyError if optional fields on LocalRepository are missing"
When calling find_local_repositories() and response json object doesnt comprise a repoLayoutRef a KeyError exception is thrown.

[code]

According to https://www.jfrog.com/confluence/display/RTF/Repository+Configuration+JSON these fields are optional and therefore should not be required.

[2019-06-27 06:46] #79 closed

[2019-07-09 03:13] allburov opened #85 "Drop support python <=3.4"
@georgek has suggest dropping support python < 3.4 in #84
We can drop support 3.4 also, because this release has reached end-of-life.

What is a better python-way to do this?

It will be cool if old versions of library will be available for python <=3.4 and new only for python > 3.4, how we do reach this?

[code]

Classifier like `Programming Language :: Python :: 3.2` it's helpful metadata, but `

[2019-07-09 03:17] allburov commented on #85
Easy way is require `dohq-artifactory<1` for python < 3.4, of course.

[2019-07-09 03:29] allburov commented on #85
[PEP 427 The Wheel Binary Package Format 1.0](https://www.python.org/dev/peps/pep-0427/#file-name-convention) says that filename use `{python tag}` - **language implementation and version tag**, E.g. 'py27', 'py2', 'py3'.

We could upload `py35,py36,py37` wheels to pypi, but this way is too hard for supporting, imho. For a new python version we need to do some work.

So, I suggest support `python>

[2019-07-09 09:32] georgek commented on #85
I say just drop support. It relies on a backport of pathlib that is unmaintained. Are you going to backport fixes to the last version of this library for 3.4? Probably not.

If anyone really wants to install the old versions for Python<=3.4 then they can pin their dependency to the last one that works.

If support is to be dropped after 1.0.0 then a deprecation warning could be added to 1.0.0 when

[2019-07-10 01:53] cowlinator commented on #85
`It will be cool if old versions of library will be available for python <=3.4`
The way I interpret this is that `old version` implies zero backporting, zero maintenance, forever.

I support this idea.  We don't want to force every single developer to have to individually re-discover which logacy version of `dohq-artifactory` works with their legacy version of python. Instead of each and every one

[2019-07-10 09:42] georgek commented on #85
Sure, if you can figure out a way to do that. But I don't think there is a way without having them pin their dependencies. You could generate the `py35,py36,py37` wheels but then you'll have to keep making new ones for `py38` etc. Is it really worth it to help people who should be upgrading their old version of Python anyway?

[2019-07-10 17:25] cowlinator commented on #85
Yes.

[2019-07-11 18:47] an-sush commented on #78
@chris-alation Can you update how you managed to solve this?

[2019-07-11 18:52] sushant-pradhan opened #86 "Add complex AQL example to README.md"
Hello, I intend to use the following aql. Can you please suggest how can it be formed using the python object?
items.find({"$or":[{"repo": "docker-prod"}], "type":"file","created" : {"$gt" : "2019-07-10T19:20:30.45+01:00"}}).include("repo","path","name",).sort({"$asc" : ["repo", "path", "name"]})

I can get the json created till fin but I am unable to append .include() and .sort()

[2019-07-29 05:22] nikolasj commented on #72
@souris4science, sorry for waiting.
It looks like a problem on API artifactory on older versions.
For example. I tried to make a request through the browser https://repo.jfrog.org/artifactory/api/storage/reponame/asdf[asdf.docx and received 400. Checked on the version of the artifactory 6.5.

But on version 6.11.1 everything works. I got 200.
What version of artifactory do you have?

[2019-07-29 07:05] souris4science commented on #72
@nikolasj Artifactory version on our production deployment - in which I discovered the problem - is 5.11.0, but I can also try it out in a test deployment of artifactory with version 6.11.1.
Indeed, this seems to be an issue on artifactory side, but I thought that you could apply a workaround by escaping the special URL characters in the request and actually the square brackets.

[2019-07-29 07:35] nikolasj commented on #72
@souris4science I'm afraid to get around the problem will not work.
I see the following solutions:
1. Do not use '[' if possible
2. Upgrade artifatory to the latest version.
3. Try to write about the problem in Jfrog. But they will say to update the artifactory))

[2019-07-29 07:41] souris4science commented on #72
@nikolasj For the moment we avoid using such characters in the artifact paths. However my concern was whether such problems will pop up with other special characters as well. Anyway, let me check whether the problem is solved with artifactory 6.11.0, since we plan to upgrade to this version soon.

[2019-07-29 10:07] nikolasj commented on #72
@souris4science Ok.
We will wait for your check on the artifactory version 6.11.0 to close the issue

[2019-07-29 10:12] souris4science commented on #72
@nikolasj just checked the issue: in 6.11.1 it works just fine.
Closing the issue.

[2019-07-29 10:12] #72 closed

[2019-08-08 20:23] ainskeep opened #88 "The function splitroot() does not work for Cloud Enterprise artifactory repos"
Our Cloud Enterprise repo name path is organized like this:

https://<Company_name>.jfrog.io/<Company_name>/

the function splitroot() in _ArtifactoryFlavour assumes the format:

http://mysite/artifactory

and attempts to parse based on /artifactory/
It was incorrectly parsed in my use case and I needed to hardcode <Company_name> in place of /artifactory/
To support more use cases, an option to pa

[2019-08-13 11:30] Tim55667757 commented on #77
There is no easy way to make two deployments on Travis CI  to different repositories in PyPi. You can’t just take and renamed build and then push into another repository - PyPI does not allow this. The correct way is if the developers from Parallels pull our changes into their project and re-build it with their build-script, but they have not supported the project for a long time, as they wrote: h

[2019-08-13 11:30] #77 closed

[2019-08-21 16:41] graingert opened #89 "unlink should raise FileNotFoundError and IsADirectoryError as appropriate to prevent race conditions"
so you can do:

[code]

[2019-08-27 11:10] graingert commented on #89
currently having to do:
[code]

[2019-08-27 12:12] GMaxera commented on #89
I'll vote for this. It would be great to have it :+1:

[2019-09-05 02:18] calvinpark opened #90 "Tilde in file names expanded incorrectly during copy on Linux - works on Mac"
Linux (Dockerfile at the bottom): upload success
[code]
Linux: copy fails
[code]
Linux: notice the incorrectly expanded tildes
[code]

Mac: upload success
[code]
Mac: copy success
[code]
Mac: tilde correctly not expanded
[code]

Dockerfile for failed env
[code]

[2019-09-05 16:30] calvinpark commented on #90
`%` in file name breaks both Mac and Linux. These characters are important for Debian packages such as `libgcc1_1%3a8.3.0-6ubuntu1~18.04.1_amd64.deb`

[2019-09-05 23:52] cmccluskey opened #91 "Support for implementing Property Sets"
Per https://www.jfrog.com/confluence/display/RTF/Properties#Properties-PropertySets --

Are there any plans to be able to create/modify a property set, and have the ability to apply that Property Set to a Repo?

[2019-09-09 22:27] calvinpark commented on #90
`relative_to` function may be related https://github.com/devopshq/artifactory/blob/develop/artifactory.py#L759

[2019-09-10 04:16] calvinpark commented on #90
[Found the problem](https://github.com/devopshq/artifactory/blob/develop/artifactory.py#L387) with `%` on `drv = part.split(url.path)[0]`

`url.path` comes from [`urllib3.util.parse_url()`](https://github.com/devopshq/artifactory/blob/develop/artifactory.py#L373) which calls [`urllib3.util._encode_invalid_chars()`](https://github.com/urllib3/urllib3/blob/master/src/urllib3/util/url.py#L223-L224) w

[2019-09-10 06:16] calvinpark commented on #90
Same rc is also causing URLs with `~` to fail. During `drv = part.split(url.path)[0]`, `url.path` is url-encoded while part is not.
[code]

In order for `drv = part.split(url.path)[0]` to work, either `part` must be encoded or `url.path` must be decoded.

Now, there seems to be a fight online about whether tilde should be encoded or not. I guess Linux version of urllib3 encodes it whereas Mac vers

[2019-09-10 12:42] calvinpark commented on #90
Welp that was fast. The issue i opened was closed within 8 hours as a "feature not a bug". Regardless, I think ArtifactoryPath should keep the original casing of percent-encoded bytes because otherwise the copy flat out fails mysteriously. A lowercase hex after an `@` is a valid file name after all.

[2019-09-10 13:01] sethmlarson commented on #90
BTW you're probably getting different behavior on macOS versus Linux because the two have different versions of urllib3. urllib3's URL parser is used with the context of an HTTP client so it optimizes for sending over the wire, not parsing URLs and passing them to application contexts (ie doesn't do the hex decoding)

[2019-09-10 13:55] calvinpark commented on #90
Not sure what the best way to unquote the URL is. I'm writing something like
[code]
but it seems that `urllib3` does not have `parse.unquote()` which its counterpart `urllib` does. It seems silly to import `urllib` just to call unquote. Thinking...

[2019-09-11 07:36] vasokot commented on #90
ubuntu 16.04 - All works correctly

[code]

[2019-09-16 17:41] Arlington1985 opened #98 "Fetch all users, groups, permission targets"
Is there any way to get all the users, groups, permission targets, tokens without specifying any name?

[2019-09-18 08:50] anaperic opened #102 "artifactory.py fails to load with the newest python libraries on import urllib.parse"
Hi Team,

Was running my (working code) that uses your library, but with updated library versions.
When I try to use the library error I get is (quick test showcase):
[code]
Seems someone added this line in commit:
https://github.com/devopshq/artifactory/commit/5b6ecc16708d6e797504f05d9a40ec1e4b55b136#diff-5979654d2532487ed87ebf2a0492cb08

And it's breaking the entire library (line 39).

- Version

[2019-09-23 06:10] trmendes opened #104 "[question] Delete empty folders"
After I end up the unlink of old artifacts I end up with a repository full of empty folders. Is there a way to clean those empty folders using this python lib? Any AQL to list empty folders only?

[2019-09-24 12:08] Kirlocca commented on #86
You might have some more parenthesis issues in your query. I have tried to interpred your query:

 You might want to put this query in a python object like that:
[code]
and send the query via
`
list_of_artifact_objects = artifactory.aql(*aqlargs)
`

Does this answer your question?

[2019-10-01 12:42] saurabhbhagwat opened #105 "Cannot import ArtifactoryPath"
ImportError: cannot import name 'ArtifactoryPath'

Getting this error when trying to import. Please let me know the solution ASAP

[2019-10-01 13:39] Tim55667757 commented on #105
@saurabhbhagwat what version of dohq-artifactory do you used?
Check version please (latest release is 0.5.241):
$ pip show dohq-artifactory

Name: dohq-artifactory
Version: 0.5.241
Summary: A Python interface to Artifactory
Home-page: https://devopshq.github.io/artifactory/
Author: Alexey Burov
Author-email: aburov@ptsecurity.com
License: MIT License
Location: c:\anaconda3\lib\site-packages
Requir

[2019-10-01 13:48] nikolasj commented on #105
@saurabhbhagwat Do you get an error using `from artifactory import ArtifactoryPath`?

[2019-10-02 03:29] nikolasj commented on #104
@trmendes we use the plugin https://github.com/jfrog/artifactory-user-plugins/tree/master/cleanup/deleteEmptyDirs to delete empty folders

useful links:
https://jfrog.com/knowledge-base/empty-folder-clean-up/
https://www.jfrog.com/jira/browse/RTFACT-13618

[2019-10-02 03:33] nikolasj commented on #104
@trmendes
[code]

[2019-10-02 05:50] nikolasj commented on #102
@anaperic Can you use python3?
[since 2020 there will be no official support for python2.7](https://pythonclock.org/)

[2019-10-03 05:04] alanyee commented on #104
Artifactory should garbage collect in 4 hours i.e. delete empty directories. Of course, if you want an immediate deletion, the above is a good approach.

[2019-10-03 06:07] nikolasj commented on #104
@alanyee It seems that not in every version of the artifactory it works.
There were problems in later versions

[2019-10-04 04:44] nikolasj commented on #104
@trmendes did we answer the question?

[2019-10-06 15:33] trmendes commented on #104
hey @nikolasj. I'm very sorry for this late reply. It did. Thanks a lot for all your messages. I'm going to check the plugin :D

[2019-10-06 15:33] #104 closed

[2019-10-07 18:02] alanyee opened #108 "ValueError: Bug with parsing urls with reoccuring words"
[code]
The traceback leads to
[code]

[2019-10-07 19:19] alanyee commented on #108
So I have isolated the error to what drive becomes in `splitroot()`

[2019-10-07 19:46] #108 closed

[2019-10-23 17:43] alanyee opened #111 "Be able to change `includesPattern` and `excludesPattern` in `PermissionTarget`"
Currently, the defaults are `self.includesPattern = '**'` and `self.excludesPattern = ''`. It would be nice to change these from the artifactory library itself.

[2019-10-23 18:47] ardyflora opened #112 "Cannot install dohq-artifactory via pip"
Command tried:
``
 pip install dohq-artifactory==0.5.dev243
``

Error:

  Using cached https://files.pythonhosted.org/packages/dc/7d/38b21fa441a296b9274501c3cc1186bd1cafb39cb5ee3ad92435e4a73f49/dohq-artifactory-0.5.dev243.tar.gz
    Complete output from command python setup.py egg_info:
    This is local build
    error in dohq-artifactory setup command: 'install_requires' must be a string or list

[2019-10-23 18:57] alanyee commented on #111
Actually looks like I can affect `.includesPattern` and `.excludesPattern` directly. I did not realise that was the intended behavior, but the regexp there can be a bit complicated to separate it out.

[2019-10-23 18:57] #111 closed

[2019-10-24 01:51] nikolasj commented on #112
@ardyflora 0.5.dev241 [does not exist](https://pypi.org/project/dohq-artifactory/#history).
try it `pip install "dohq-artifactory==0.5.241"`.
What version of pip are you using and for which python?
I downloaded `dohq-artifactory==0.5.dev241` for python.3.5, python.3.6, python.2.7.

[2019-10-24 14:36] ardyflora commented on #112
Thank you so much @nikolasj, that command worked.

My pip was outdated, I have updated it to:

Successfully installed pip-19.3.1

Old version was:

pip 8.1.2 from /usr/lib/python2.7/site-packages (python 2.7)

[2019-10-24 14:36] #112 closed

[2019-10-24 16:59] ardyflora commented on #105
@nikolasj I might be wrong but it looks I might have similar issue.

Error

Traceback (most recent call last):
  File "auto_artifactory.py", line 1, in <module>
    from artifactory import ArtifactoryPath
ImportError: No module named artifactory

Code line:
``
from artifactory import ArtifactoryPath
``

Tried to follow example mentioned in the documentation:
[https://github.com/devopshq/artifactor

[2019-10-25 03:25] nikolasj commented on #105
@ardyflora `python auto_artifactory.py` what version of python do you used? maybe 2.7?
try it
[code]

[2019-10-25 15:37] ardyflora commented on #105
@nikolasj
Python version:

Python 2.7.5

Dohq-artifactory requirements looks good

Requirement already up-to-date: dohq-artifactory in /usr/lib/python3.6/site-packages (0.5.241)
Requirement already satisfied, skipping upgrade: python-dateutil in /usr/lib/python3.6/site-packages (from dohq-artifactory) (2.8.0)
Requirement already satisfied, skipping upgrade: requests in /usr/lib/python3.6/site-pack

[2019-10-28 09:55] wym2010 opened #114 "making directory incorrectly"
I have used path.mkdir() to create directory, but...
I found the directory name was foo/bar, I can't understand why slash get inside of a directory name....

[2019-10-28 11:31] wym2010 commented on #114
ok, the issue only exists in webapp for artifactory not in url

[2019-10-28 14:45] ardyflora commented on #105
Should I open this as a new issue?

[2019-10-28 15:31] alsam1992 commented on #105
@ardyflora

python3: can't open file 'auto_artifactory.py': [Errno 2] No such file or directory

here is another mistake.
do the following:
[code]
send a mistake.

that's what i have
[code]
I have no mistake

[2019-10-28 18:40] alanyee commented on #88
This issue was addressed in #108 and #109. @Tim55667757 can you please close this issue?

[2019-10-28 19:24] alanyee opened #115 "Bug with parsing urls that is not specified in ~/.artifactory_python.cfg"
[code]

I am pretty sure the error arises from that `/` that is added at the end of the url. Normally `ArtifactoryPath` urls objects do not have a slash at the end. This ends up leading to methods i.e. `find_user()` and `find_permission_target` returning `None`.

Having `~/.artifactory_python.cfg` contain `[https://test-art.jfrog.io/test]` is workaround that allows `find_user()` and `find_permissi

[2019-10-28 19:28] ardyflora commented on #105
Thank you, I see what I did wrong.

[2019-10-28 19:38] alanyee commented on #115
[code]
Seems like the problem exists for any url that is not specified in the config file.

[2019-10-28 21:01] alanyee commented on #88
nvm, given #115, the problem still lives on.

[2019-10-28 21:22] alanyee commented on #88
[code]
is an interesting workaround

[2019-10-29 00:07] nikolasj commented on #105
@ardyflora @saurabhbhagwat close the issue?

[2019-10-30 01:17] ardyflora commented on #105
Yes please, Thank you for the help.

[2019-10-30 02:14] #105 closed

[2019-10-30 17:37] predatorian3 opened #116 "Creating Artifactory Remote Repositories"
Is there any way to create remote repositories in Artifactory? I see how to do `dohq_artifactory.RepositoryLocal` and `dohq_artifactory.RepositoryVirtual` but not anything Remote.

[2019-11-08 17:37] alanyee commented on #116
It does not seem implemented in this library, but https://www.jfrog.com/confluence/display/RTF/Repository+Configuration+JSON#RepositoryConfigurationJSON-application/vnd.org.jfrog.artifactory.repositories.RemoteRepositoryConfiguration+json details how you can do and make a PR to this repo on the feature.

[2019-11-08 23:54] alanyee opened #119 "Add Support for Artifactory REST API V2"
PermissionTarget allows for different data types in v2 than in v1. For instance, v1 has `includePatterns` is a single string with commas, while v2 has `include-patterns` which is the same thing but is an array.

[2019-11-11 14:32] predatorian3 commented on #116
I will attempt to work on that when I can. My work hasn't made it a priority yet and it was more of a nicety for us. However, I do want to see if I can get this functionality added.

[2019-11-13 11:54] Kirlocca commented on #78
Since OP doesn't answer, here is the solution:

[code]

[2019-11-15 20:25] alanyee commented on #116
@predatorian3 you could try #117. I have not tested it myself, but you can.

[2019-11-22 09:58] allburov commented on #116
Merged https://github.com/devopshq/artifactory/pull/117

[2019-11-22 10:01] allburov opened #123 "Auto generate CHANGELOG"
Our CHANGELOG.md is out of date. We need get info about issue from git log or somewhere else

[2019-11-22 10:02] #89 closed

[2019-11-22 10:07] #116 closed

[2019-11-22 10:08] #85 closed

[2019-11-23 00:26] pstephenson02 opened #124 "Cannot get directory listing on Artifactory SaaS"
[code]

produces...
[code]

The Artifactory docs suggest that in order to use the API in the SaaS product, you must specify the server name after the fqdn:
[code]
https://www.jfrog.com/confluence/display/RTF/Artifactory+REST+API#ArtifactoryRESTAPI-WorkingwithArtifactorySaaS

What am I missing here? Does this tool just not support requests to a SaaS-based Artifactory?

[2019-11-23 05:26] #102 closed

[2019-11-23 05:31] nikolasj commented on #86
Hi @an-sush! Did you manage to check the option suggested in [the comment](https://github.com/devopshq/artifactory/issues/86#issuecomment-534528242)?
Can I close the task?

[2019-11-23 05:36] nikolasj commented on #98
Hi @Arlington1985!
I do not quite understand what you need. Can you give examples?

[2019-11-23 05:40] #66 closed

[2019-11-23 09:53] Arlington1985 commented on #98
I mean is there any function like `users = artifactory_.get_all_users("*")` ? Same with applying for _group_ and _permission targets_.

[2019-11-25 02:01] #52 closed

[2019-11-29 07:41] alanyee commented on #124
Your problem might be related to this bug: https://github.com/devopshq/artifactory/issues/88

[2019-12-04 09:51] fuzzmz opened #126 "Artifact upload fails with RuntimeError 500, Repo key cannot be empty"
When trying to upload an artifact we error out with

[code]

Code to reproduce the issue:

[code]

Problem is caused by `get_stat_json` creating an invalid Artifactory Storage API request by duplicating the `/` between `artifactory` and `api`.

In the example above, when we reach get_stat_json and process the url, instead of getting
`http://my-artifactory/artifactory/api/storage/upload-dest`
we ge

[2019-12-04 17:20] pstephenson02 commented on #124
Thanks @alanyee. I'm closing this issue since it is indeed a duplicate of https://github.com/devopshq/artifactory/issues/88.

[2019-12-04 17:20] #124 closed

[2019-12-05 02:36] #126 closed

[2019-12-05 08:00] #88 closed

[2019-12-05 08:00] #115 closed

[2019-12-05 08:06] allburov commented on #88
Could you test the develop branch of the library for Artifactory SaaS?

https://github.com/devopshq/artifactory#artifactory-saas
[code]

[2019-12-05 08:06] allburov commented on #115
Could you test the develop branch of the library for Artifactory SaaS?

https://github.com/devopshq/artifactory#artifactory-saas
[code]

[2019-12-05 08:06] allburov commented on #124
@pstephenson02

Could you test the develop branch of the library for Artifactory SaaS?

https://github.com/devopshq/artifactory#artifactory-saas
[code]

[2019-12-05 11:26] fuzzmz commented on #114
@wym2010, for what it's worth and in case this is still relevant, you can disable that behavior by unchecking Compress Empty Folders in the Sort & Filter pane.

![asd](https://user-images.githubusercontent.com/1335181/70231369-dec66800-1762-11ea-8856-827baf62303a.PNG)

[2019-12-05 17:11] pstephenson02 commented on #124
I tested my original script at the top at it works as expected. Thank you for the quick turnaround on this!

[2019-12-10 14:29] hagenw opened #130 "v0.7 breaks artifactory for Python <3.6"
The introduced import of [secrets](https://docs.python.org/3/library/secrets.html) ([after v0.6](https://github.com/devopshq/artifactory/compare/v0.6...develop)) breaks the package for versions of Python <3.6.

E.g. on a CI job with `dohq-artifactory-0.7.297` we get
[code]

[2019-12-11 05:47] LeiYangGH opened #131 "aql: add more examples, and add support to debug, such as printing built query string"
when trying aql, with include, sort, and limit, I wasted a lot of efforts guessing what python equivalent syntax would be given the raw aql string.

I always got below error until I went over some issues and came up with the right solution:

The error message is too general.

Could it be more acurate? such as some debugging functions to print the generated raw aql string?
And could any one add som

[2019-12-11 06:00] allburov commented on #131
May be enable debug logging for `requests` could help you for the moment? https://gist.github.com/Daenyth/b57f8522b388e66fcf3b

We have some examples in documentation with `include`, but it can don't cover enough https://devopshq.github.io/artifactory/#artifactory-query-language

Of course, feel free to contribute documentation and code!

[2019-12-11 07:36] #130 closed

[2019-12-11 08:06] nikolasj commented on #130
@hagenw Please check with the new version `dohq-artifactory-0.7.308`

[2019-12-11 08:11] hagenw commented on #130
Thanks for the very fast fix, it is now working again with Python 3.5.

[2019-12-13 02:11] #50 closed

[2019-12-13 13:53] Schleissheimer-Stieglitz opened #135 "downloading text files with utf-8 encoding"
Downloading an text file with utf-8 encoding from Artifactory doesn’t work correctly.
If I try it with an example file with the following content:

    This is a test.
    This file is encoded in utf-8.
    Some special character: äöüß

the downloaded file contains some strange symbols instead of the content which it should contain.
Content of downloaded file:

    ‹      ÉÈ,V ¢D…’Ôâ=^®@ZfN

[2020-01-06 20:29] fuzzmz commented on #135
I'm not able to reproduce this using `dohq-artifactory==0.7.297` on top of `Python 3.7.2` and  `Artifactory Version 6.14.0`. Test was ran on Windows 10 .

Using the default download example, just modified to point to the test file works ok.

from artifactory import ArtifactoryPath

[code]

@Schleissheimer569, after uploading the file to Artifactory, if you download it through the browser does it m

[2020-01-10 10:20] Schleissheimer569 commented on #135
If i download the file through the browser it works correctly.

I used the default download example, too.

I used `dohq-artifactory==0.7.311`, `Python 3.7.4` and `Artifactory Version 6.16.0` on Windows 10.

[2020-01-10 19:49] mpender opened #138 "AQL issue"
Seeing this 'AttributeError: 'ArtifactoryPath' object has no attribute 'aql''

When i try to use

#!/usr/bin/env python3

from artifactory import ArtifactoryPath
art_url = "https://artifactory.example.com"

aql = ArtifactoryPath(art_url, auth=("user", "password"))
artifacts = aql.aql("items.find", {"repo": "my-repo"})

pip freeze | grep artifactory
dohq-artifactory==0.7.dev0

python 3.7.5

[2020-01-28 02:34] allburov commented on #138
It seems like you've installed `dohq-artifactory` over old library is called `artifactory`. Could you create new venv and repeat steps to reproduce bug?

[2020-01-28 02:40] allburov commented on #98
Artifactory supports [this](https://www.jfrog.com/confluence/display/RTF/Artifactory+REST+API#ArtifactoryRESTAPI-GetUsers), but we didn't implement method .

`get_users|groups,permissions` would be perfect method!

[2020-01-28 02:41] #49 closed

[2020-02-03 21:54] ainskeep commented on #88
I can confirm that the new ArtifactorySaaSPath works for our SaaS installation. Thank you for fixing this!

[2020-02-27 10:26] eladavron commented on #135
I had a different issue which @Schleissheimer569 solution solved.
For me, on Python 3.8 (not 3.7 for some reason), some files would give this error when downloading:

[code]

[2020-03-03 11:26] allburov commented on #135
Probably, we could add these functions to our library, why not. It looks useful.

Could someone create a PR with these changes? I think we also should to add ability to customize `chunk_size`.

[2020-03-12 14:00] EslamElHusseiny opened #143 "find_repository_<local || remote || virtual> return the same result"
Hi all,
I've found that `find_repository_local`, `find_repository_remote`, and `find_repository_virtual` return the same result for any repo.
e.g.
[code]

Am I doing anything wrong?

[2020-03-12 19:04] EslamElHusseiny opened #144 "Not able to update virtual repo"
Hi,

I'm trying to update a virtual repo as following
[code]

Any ideas what went wrong?

[2020-03-13 02:44] allburov commented on #143
Hey there!
They have a different type.
[code]

Probably, we should create the one method `find_repository` and choise type dynamicly by the attribute 'rclass' or 'type'. Like I've mentioned at this PR: https://github.com/devopshq/artifactory/pull/141#discussion_r386951465

[2020-03-18 13:14] EslamElHusseiny commented on #143
The type is misleading cause using any of `find_repository_<>` returns a value regardless of the type of repository. Maybe replacing `find_repository_<>` with a generic `find_repository()` would be better.

[2020-04-06 09:45] staffanf opened #145 "Better response error reporting"
Hi, I started using your lib and it's pretty helpful, but the error reporting can be improved.

Example:
When I created a RepositoryLocal(), I got this HTTPError:
[code]

If I ran the same command in curl instead get this
[code]

i.e. Artifactory actually sends the interesting error information in the response body which is not available at by default.
I fixed this in my code with a block like:
[c

[2020-04-07 12:33] staffanf opened #146 "_read_response() populates attribute layoutName instead of repoLayoutRef"
In [RepositoryLocal](https://github.com/devopshq/artifactory/blob/master/dohq_artifactory/admin.py#L369) and [RepositoryRemote](https://github.com/devopshq/artifactory/blob/master/dohq_artifactory/admin.py#L503), the attribute layoutName is populated instead of repoLayoutRef.

This means that when we read back an object (e.g. in find_repository_local) we get the default repoLayoutRef instead of th

[2020-04-17 08:47] chrbenisch opened #147 "import urllib.parse throws exception in python2.7"
the import urllib.parse throws an exception in python 2.7.

this code is working instead:
[code]

[2020-04-21 10:56] allburov commented on #147
@chrbenisch we don't support python 2.7, we do support 3.5. and higher versions. If you would like you could add compatibility for this version.
Don't forget add CI-tests here https://github.com/devopshq/artifactory/blob/master/.travis.yml#L3

[2020-04-24 20:20] iaroslavscript opened #148 "SECURITY ISSUE"
Hi!

Who is responsible for building pipeline/infrastructure? I want to report security issue. I will describe details in private mail.

[2020-04-24 21:25] Tim55667757 commented on #148
@iaroslavscript Hi! Write to me at "tgilmullin [at] ptsecurity.com" :)

[2020-04-27 14:36] Tim55667757 commented on #148
We carried out the necessary checks, now everything is fine. Thanks for the warning!

[2020-04-27 14:36] #148 closed

[2020-05-19 08:48] thewamz opened #156 "AttributeError: __enter__ raised when globing a path python3.8"
`path = ArtifactoryPath("http://repo.jfrog.org/artifactory/gradle-ivy-local")`
[code]
or
[code]
raises an AttributeError: __enter__

[2020-05-19 13:31] thewamz commented on #156
I am using python 3.8 by the way

[2020-05-20 12:07] pawelrubin commented on #156
I've encountered the same issue.
[code]
Traceback:
[code]

[2020-05-20 12:45] pawelrubin commented on #156
I've added `@contextmanager` decorator to `_ArtifactoryAccessor.scandir`, however, it does not solve the issue.
Next issue I've encountered is:
[code]

[2020-05-20 13:12] pawelrubin commented on #156
@thewamz Could you provide the error traceback, please?

[2020-05-21 01:56] kylekeppler opened #157 "pool file created in empty debian repo with deploy_deb() instead of directory"
When using `deploy_deb` per the readme with an empty debian repo, a `pool` ***file***, not directory,  is created on the Artifactory remote.

[2020-05-21 09:01] thewamz commented on #156
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<ipython-input-33-5dd310235db3> in <module>
----> 1 list(path.glob("*"))

/usr/lib/python3.8/pathlib.py in glob(self, pattern)
   1134             raise NotImplementedError("Non-relative patterns are unsupported")
   1135         selector = _make_s

[2020-05-22 01:54] allburov commented on #157
It's a bug, we should fix it - the README.md's example is more clear and right to use

[2020-05-22 01:55] allburov commented on #146
Fixed by https://github.com/devopshq/artifactory/pull/149

[2020-05-22 01:55] #146 closed

[2020-05-22 01:56] allburov commented on #145
@staffanf could you check the latest library's version? We kinda fixed it in https://github.com/devopshq/artifactory/pull/150

[2020-05-22 02:46] kylekeppler commented on #157
Editing issue to be clearer.

[2020-05-22 10:13] stmlange opened #158 "The read_config also should honor an apikey"
Hello, thank you for this project.

Rather a minor thing, but currently it looks like that the [read_config](https://github.com/devopshq/artifactory/blob/29c6da3b1f67967a3d537bf065cb3f69d8d96ab3/artifactory.py#L63)-method honors various variables. However as of now it seems that the configuration does not take a possible api-key into account. When setting the password to the API-Key I'll just get

[2020-05-28 07:54] stmlange opened #162 "The source.copy(dest)-functionality should deploy artifacts with checksums"
Using
[code]
Leads to warnings in Artifactory that the client hasn't published a checksum value (e.g. similar to this https://stackoverflow.com/questions/40009688)

Instead of directly deploying it, one would need to download the file, generate the checksum and the deploy it back. E.g.
[code]

(untested)

[2020-05-28 14:31] pawelrubin commented on #156
Any progress on the issue? @allburov

[2020-05-29 05:11] allburov commented on #156
@pawelrubin Hello! Could you test this branch with your environment and example? https://github.com/devopshq/artifactory/tree/support-python-38-glob

You can install it from git directly by:
[code]

[2020-05-29 10:30] staffanf opened #164 "RepositoryRemote._read_response() does not populate attribute url"
When looking at the fix for #146 I noticed a similar issue in RepositoryRemote.
The attribute url not populated when we read the from the remote .

This means that when we read back an object (e.g. in find_repository_remote) we get an url that is None instead of the correct one.

Maybe populate packageType also?

[2020-05-29 13:06] pawelrubin commented on #156
@allburov Hi! It does work now, thank you!

[2020-06-01 03:36] allburov commented on #156
Glad to hear this!
I'm going to publish new release on 02 June - https://github.com/devopshq/artifactory/pull/160

[2020-06-02 02:06] #20 closed

[2020-06-02 02:06] #156 closed

[2020-06-02 02:07] #57 closed

[2020-06-02 07:56] hagenw opened #166 "Dependency to jwt broken in release 0.7.366"
When installing the latest [0.7.366 release](https://github.com/devopshq/artifactory/pull/160), a simple import fails with:

[code]

This happens after a fresh installation into a new virtual environment created with `virtualenv`.

[2020-06-02 09:03] hagenw commented on #166
Is fixed with `0.7.377`, thanks.

[2020-06-02 09:03] #166 closed

[2020-06-11 16:36] calvinatnvidia opened #168 "For Debian packages, how to specify multiple components?"
I have packages that need to be tagged with multiple components. [REST API](https://www.jfrog.com/confluence/display/JFROG/Debian+Repositories#DebianRepositories-Specifyingmultiplelayouts) supports specifying `component` multiple times
`PUT "http://localhost:8081/artifactory/debian-local/pool/libatk1.0_i386.deb;deb.distribution=wheezy;deb.distribution=trusty;deb.component=main;deb.component=contri

[2020-07-10 20:59] nrundle opened #170 "Incorrect with statement in Downloading Artifacts section of the Documentation"
The Downloading Artifacts section of the documentation has a missing `open()` function name which results in an error if the code is run as is.

The statement currently reads:
[code]

Instead it should read:
[code]

[2020-07-13 02:14] allburov commented on #170
Fixed by https://github.com/devopshq/artifactory/pull/171

I'm so glad when someone create an issue and fix it :)

[2020-07-13 02:14] #170 closed

[2020-07-15 05:33] saggl opened #172 "Is there a way to collect and publish build information?"
i would like to collect and publish the build information in addition to uploading and downloading artifacts. with the [CLI](https://www.jfrog.com/confluence/display/CLI/CLI+for+JFrog+Artifactory#CLIforJFrogArtifactory-BuildIntegration) from Jfrog this is possible as follows.
collect:
`` jfrog rt dl --buildname = "abc" --buildnumber = "1" test.zip #collect build infos to abc / 1``
publish:
`` jfro

[2020-07-23 19:08] Prasaddiwalkar opened #173 "Download fails with AttributeError: __enter__"
[code]

[2020-07-23 19:19] Prasaddiwalkar commented on #173
[code]
it worked with above syntax

[2020-07-23 19:19] #173 closed

[2020-07-24 07:15] allburov commented on #173
@Prasaddiwalkar sorry for confusing you. The documentation has already been fixed in `develop` branch, but I totally forgot merge it to master.

[2020-08-28 09:12] staffanf commented on #145
@allburov I think the changes looks good. Should I notice something more that would help tropubleshooting I'll open a new issue.

[2020-08-28 09:12] #145 closed

[2020-09-13 12:56] dseifert commented on #168
Ditto for distributions. It is quite common that the same debian package is part of multiple distributions (e.g. data-only packages or just ones that are generic).

[2020-09-13 13:21] dseifert commented on #168
Passing the arguments in as list should work (e.g. `deploy_deb(file_name, [ "wheezy", "trusty" ], ["contrib", "....`)

[2020-09-18 12:02] run2fail opened #176 "List files in archive (zip)"
Hi,

I know how to directly download files from a zip-archive stored in an Artifactory repository.

Is there any way to list the files in the zip-archive WITHOUT downloading the file? Does the Artifactory API provide this feature and is this also provided by the Python module?

Kind regards,

run2fail

[2020-09-23 12:24] bluenote10 opened #177 "Are the imports in the readme wrong?"
I'm still confused by the artifactory vs dohq-artifactory situation. In the readme, all examples are using `import artifactory`. But that doesn't seem to work for me (module not found...). Is dohq-artifactory supposed to install as `artifactory` package or is the readme wrong?

What works is
[code]
but even with this I fail to get the very first example to work:
[code]

My dohq-artifactory version

[2020-09-23 13:40] bluenote10 commented on #177
Okay, after some debugging I figured it out.

Documenting my mistake for others: According to the content of the dohq-artifactory wheel it comes with both a top-level `site-packages/artifactory.py` module and a `site-packages/dohq-artifactory` package. So in general the `from artifactory import ArtifactoryPath` should be fine.

The reason I got into this situation was that I installed dohq-artifac

[2020-09-23 13:40] #177 closed

[2020-09-25 14:02] mo-saeed opened #178 "Create user with disabled profileUpdatable"
Hello,

I am trying to create a user and I want to disable update_profile option but I can't do that when I init the USER class as it's set as default value, any workaround to set profileUpdatable to False

[code]

[2020-09-25 14:32] mo-saeed commented on #178
@Tim55667757 Maybe you can help here :)

[2020-09-25 19:22] Tim55667757 commented on #178
@mo-saeed Hi! I'll try to see it :)

[2020-10-01 08:40] fuzzmz commented on #178
If there's no one actively working on this I can take a swing at it.

[2020-10-02 07:14] mo-saeed commented on #178
Would be great to have this implemented :)

[2020-10-02 13:27] mo-saeed opened #179 "Need help how to catch exceptions"
Hi,

I create a method to get a user in artifactory, and I want to catch exception when it doesn't exist:

here's the exception:
[code]

[2020-10-06 10:00] fuzzmz commented on #179
You should be able to wrap it in a try/catch:

[code]

But why not use the [documented ways](https://github.com/devopshq/artifactory#user) to create a user?

[2020-10-06 10:11] mo-saeed commented on #179
yes how to print the error message then? the `e` object has no message or response attributes

[2020-10-06 10:57] fuzzmz commented on #179
Granted, this needs improvement. Right now you can sort-of get what you want by doing either `json.loads(e.args[0])['errors'][0]['status']` to get the error status code, or `json.loads(e.args[0])['errors'][0]['message']` to get the actual message.

Will look into fixing this, as I'm responsible for implementing in this horrible way the ArtifactoryException in #145 via #150

[2020-10-08 05:06] allburov commented on #168
@Tim55667757 we should use the `Assignees` field more carefully. There're 4 assigned people, but there's no progress here yet.

Maybe a better way to use `Assignees` is to `assignee`  to someone when the person really is working on the issue? And if you want to say "Hey guys, look at the issue" just mention us :) Cause it makes our users think "Why they need 4 people to fix so small issue? And at

[2020-10-14 14:39] run2fail commented on #176
Hi,

sorry I don't want to nag you but can anyone answer this question? If this feature is not available in the Python module because it is also not provided by Artifactory, I would raise the issue to JFrog.

Kind Regards

[2020-10-14 15:27] Tim55667757 commented on #176
@run2fail Hi!

Do I understand the problem correctly, that you want to download a file inside the archive? Have you tried this https://stackoverflow.com/questions/47536315/download-single-file-from-zipped-artifactory-artifact using the following notation: ```http://localhost:8081/artifactory/repo-name/path/to/archive.zip!/path/to/file```

Or do you want to get a method in our library that will ret

[2020-10-14 16:03] run2fail commented on #176
Hi @Tim55667757,

indeed I want to get a list of files/paths in the archive. In the Artifactory GUI you can browse archive contents (zip files in repositories of type generic) but I did not yet find a solution using the REST-API nor the Python module.

Rationale: The archives may be pretty large and even if they are small, you may not want to store them in /tmp just to get a list of files/paths.

[2020-10-15 07:57] Tim55667757 commented on #176
@run2fail I tried using the standard method ```walk(path)```

[code]

In first case I received list of files in directory, but in second case I received ```FileNotFoundError: [Errno 2] No such file or directory``` error. Also in third case I received ```NotADirectoryError: [Errno 20] Not a directory``` error.

Unfortunately, Artifactory API does not return the contents of the archives, only the li

[2020-10-15 07:57] #176 closed

[2020-10-15 11:19] Tim55667757 commented on #176
We will try to use AQL but do not promise result...

[2020-10-15 16:42] ProLoDs opened #181 "AttributeError:__enter__ with >Python3.8.5 and glob"
Hi,

im using python 3.9 and having an error when trying to `glob()`.
Using  `dohq-artifactory          0.7.382`.

I read about the issues and thought that the error is fixed.

To reproduce, use python3.8.5 or higher and try to use the function `glob()`.

Error in:
[code]

[2020-10-16 12:34] apazdnikov commented on #176
curl -u admin:password http://127.0.0.1:8081/artifactory/api/search/aql -X POST -H 'Content-Type:text/plain' \
-d 'archive.entries.find({"archive.item.repo":{"$eq":"crosspm"},"archive.item.name":{"$eq":"artifactory-master.zip"}})'

[code]

[2020-10-19 09:03] 0x6d64 commented on #114
I believe this is not a bug at in this github project but a slightly confusing way how the artifactory web UI displays stuff? In this case I think this issue can be closed.

[2020-10-20 12:19] dolfinus commented on #178
It looks like this issue can be closed :-)

[2020-10-22 06:20] allburov commented on #138
@mpender could you try to recreate venv and repeat?
Otherwise I'll close the issue.

[2020-10-22 06:22] allburov commented on #86
Probably, we should add the above example to readme.md and close the issue. What do you think?

[2020-10-22 13:38] Ashok82 opened #198 "AQL with sort and limit fails with bad request"
response = path.aql("items.find" ,{"repo": {"$eq": "myrepo"}, "path": {"$match":"charts/pac19_2/2019-10-28-05-56-43*"},
      "name": {"$match": "*.tgz"},".sort": {"$desc":["created"]} })

raise HTTPError(http_error_msg, response=self)
requests.exceptions.HTTPError: 400 Client Error: Bad Request for url:

is this module supports complex AQL's any known issues ?? i want sort and limit ..sort({"$des

[2020-10-29 09:24] dolfinus commented on #198
Hello.

There is an error in the request - you've added `.sort` field as a key of search query:
Instead of:
[code]

you should pass:
[code]

[2020-10-30 11:23] Ashok82 commented on #198
thanks , figured it

[2020-10-30 11:23] #198 closed

[2020-10-30 15:52] ProLoDs commented on #181
I debugged a little and and found out, that the scandir in _ArtifactoryAccessor overwrites the correct scandir and will crash it.

[code]

[2020-11-03 07:35] gilkatz opened #199 "set retention policy"
Hi
Is there a way to set the retention policy for files?

[2020-11-09 09:43] tettaji opened #200 "ValueError: empty separator on PermissionTarget.add_group in version 0.7.468"
Since upgrading to the latest version we're getting the following error on adding a group to a permission target:

[code]

[2020-11-09 14:33] ProLoDs commented on #181
This was already fixed in https://github.com/devopshq/artifactory/pull/163.
@allburov When will the next release be made? This issue can be closed afterwards.

[2020-11-12 04:39] allburov commented on #181
I think we have already merged these changes to master https://github.com/devopshq/artifactory/blob/master/artifactory.py#L541-L560
Could you try the latest `dohq-artifactory` version? Just be sure that you don't use `artifactory` library (remove file `artifactory.py` from `site-packages`)

[2020-11-12 16:25] dolfinus commented on #200
This PR should fix the issue: https://github.com/devopshq/artifactory/pull/201

[2020-11-13 11:34] dolfinus commented on #164
Fixed in https://github.com/devopshq/artifactory/pull/186 and https://github.com/devopshq/artifactory/pull/184

[2020-11-16 11:24] #200 closed

[2020-11-16 11:29] allburov commented on #199
@gilkatz
Hi! I see there is an issue about the retention policy in Artifactory https://www.jfrog.com/jira/browse/RTFACT-6723
Are you sure that we can set it manually in UI?

I'd recommend to use https://github.com/devopshq/artifactory-cleanup - it's a nice easy to easy cli-application. There isn't too much rules, but they cover 80% of our needing https://github.com/devopshq/artifactory-cleanup/tre

[2020-11-16 11:32] #143 closed

[2020-11-16 11:33] #138 closed

[2020-11-16 11:33] #123 closed

[2020-11-16 11:34] #114 closed

[2020-11-16 11:35] allburov commented on #147
https://www.python.org/doc/sunset-python-2/#:~:text=As%20of%20January%201st%2C%202020,%2C%202019)%20and%20January%201st.

[2020-11-16 11:35] #147 closed

[2020-11-20 10:57] dolfinus opened #203 "Release deployment is failing"
https://github.com/devopshq/artifactory/pull/201 was merged into master branch. The CI/CD process linted source code, run tests, but failed on PyPi deployment stage:
https://travis-ci.org/github/devopshq/artifactory/jobs/743920563

Can you check it, please? Issue https://github.com/devopshq/artifactory/issues/200 is still in the latest package version due to that error.

[2020-11-24 08:19] allburov commented on #203
@Tim55667757 could you or someone take a look? I won't have time till the next week...

[2020-11-25 06:27] mkarhumaa commented on #181
I can confirm that bug still exist in `dohq-artifactory` version 0.7.468. I'm using Python 3.8.5.

[2020-12-02 09:44] mkarhumaa commented on #181
Sorry about confusion. The problem I saw was indeed in our own code. We had previously overwritten the `ArtifactoryAccessor.scandir` with our own implementation to make it work with Python 3. Apparently that implementation did not work with Python 3.8.5 anymore.

[2020-12-02 16:31] ProLoDs commented on #181
Still the latest release v0.7 has the old code. All im asking is a new release. The current master is fine.

[2020-12-08 06:00] mkarhumaa commented on #181
@ProLoDs I'm not sure if releases are done in Github anymore. Pypi seems to have latest release 0.7.468: https://pypi.org/project/dohq-artifactory/#history

[2020-12-08 09:03] allburov commented on #203
There was an issue with travis https://travis-ci.community/t/cant-deploy-to-pypi-anymore-pkg-resources-contextualversionconflict-importlib-metadata-0-18/10494/24
Created a new commit in master, will be waiting https://travis-ci.org/github/devopshq/artifactory/builds/748299898

[2020-12-08 09:04] allburov commented on #181
working on it https://github.com/devopshq/artifactory/issues/203

[2020-12-08 17:13] dolfinus commented on #203
Looks great, thanks!

[2020-12-08 17:13] #203 closed

[2020-12-09 10:09] allburov commented on #181
We have a new release! https://pypi.org/project/dohq-artifactory/0.7.475/
Could you verify that there is above changes?

[2020-12-09 17:07] ProLoDs commented on #181
Looks good! Issue can be closed in my opinion,

[2020-12-09 17:07] #181 closed

[2020-12-15 19:51] andjelx commented on #135
I have same issue as topic starter.
Trying to download YAML artifact and getting strange set of symbols.

Python 3.7.9 // dohq-artifactory==0.7.468 // Artifactory from Jfrog Cloud

[2020-12-15 20:11] andjelx commented on #135
What's more interesting: if I rename file.yaml file to smth like file.rpt everything become working.
Seems like Artifactory reports text/yaml files in some strange form

[2020-12-15 20:53] andjelx commented on #135
https://github.com/devopshq/artifactory/pull/204 @allburov @fuzzmz

[2020-12-18 03:15] nabice commented on #72
is_file return False when filename contans "#"
@nikolasj

[2020-12-18 03:45] nabice opened #206 "is_file() return False when the artifacts' name contains "#""
Version:
dohq-artifactory       0.7.475

[2021-01-07 14:12] sousajf1 commented on #162
hello. can i take this one?

[2021-01-08 07:38] allburov commented on #162
@sousajf1 we'll appreciate it! :) Feel free to create PR and show a solution!

[2021-01-08 16:10] sousajf1 commented on #162
https://github.com/devopshq/artifactory/pull/208

[2021-01-11 20:07] akshaysarraf2016 opened #209 "Set timeout while uploading file"
I use ArtifactoryPath.deploy_file() to upload a file to artifactory. But I have a use case where I need to set a timeout to this function. So if the file upload doesn't finish in x seconds, it should timeout and move on to the rest of my script.
How can I set timeout in to deploy_file()? Is it supported natively?

[2021-01-12 02:52] allburov commented on #209
Hi! It does not :(
There's no way to set `timeout` in `requests.session` object.

We should add `timeout` to the `ArtifactoryPath` and then provide it internally to every `session.get|post|put` requests
https://requests.readthedocs.io/en/master/user/advanced/#timeouts
[code]

[2021-01-12 02:53] #199 closed

[2021-01-12 03:59] akshaysarraf2016 commented on #209
Okay, thank you for your response.
Is this something that you plan to add?

[2021-01-12 04:01] allburov commented on #209
Nope( It's why the issue has `help wanted` label.
Feel free to contribute!

[2021-01-12 06:26] akshaysarraf2016 commented on #209
I'm new to this, created a pull request: https://github.com/devopshq/artifactory/pull/210
What do you think?

[2021-01-19 20:23] alivx opened #213 "Gitlab artifactory"
Is there a way to download artifacts from Jfrog and re-upload it to Gitlab

[2021-01-19 20:40] akshaysarraf2016 commented on #209
@allburov

1. Now that pull request is merged to develop branch, when do you think it can be merged to master?
2. Also, is there a plan to update pypi with this artifactory module: https://pypi.org/project/artifactory/ ?
    It still points to old outdated module.

[2021-01-20 04:18] allburov commented on #209
1. It's merged and available as part of `dohq-artifactory` https://pypi.org/project/dohq-artifactory/0.7.508/
2. We do not update the `artifactory` pypi package, only `dohq-artifactory`. Use the latest, they are the same!

[2021-01-20 04:18] #209 closed

[2021-01-20 04:19] allburov commented on #213
Yes, you should use `dohq-artifactory` and python-gitlab lib to do it. https://github.com/python-gitlab/python-gitlab (if they do have an "upload" endpoint for it)

[2021-01-20 04:19] #213 closed

[2021-01-22 11:28] fuzzmz opened #214 "Allow deploying artifact from archive"
Artifactory Pro and above offer the option to deploy an archive containing multiple artifacts and automatically have it extracted at the specified destination while maintaining the archive's file structure.

[Deploy Artifacts from Archive REST API](https://www.jfrog.com/confluence/display/JFROG/Artifactory+REST+API#ArtifactoryRESTAPI-DeployArtifactsfromArchive)

[2021-01-24 14:13] alivx opened #216 "Download Docker artifacts as zip file"
I'm trying to download docker images from Jfrog artifacts, but it fail every time.
[code]

Error:

[code]

[2021-01-27 06:41] allburov commented on #216
Are you able to download `manifest.json` inside this folder wtih no errors?

[2021-01-27 07:01] allburov commented on #216
@vasokot could you (or a team member) try to download docker image from Artifactory?
I don't have an installed Artifactory :(

[2021-01-27 09:18] fuzzmz commented on #206
@nabice, can you provide some more details on how to reproduce this issue? Does it happen when uploading a file to Artifactory, or downloading it, or changing properties, etc.

[2021-01-27 09:48] nabice commented on #206
@fuzzmz
|----rootDir
       |-------C#.xml

[code]
Output:
False

======

Expect:
True

[2021-01-27 13:46] fuzzmz commented on #206
Problem is that `#` gets treated as a [fragment identifier](https://en.wikipedia.org/wiki/Fragment_identifier) and the requests library is treating is as such.

This means that in the initial URL `http://artifactory/rootDir/C#.xml` you have a network resource (URI) named `http://artifactory/rootDir/C` followed by a fragment, `.xml`.

As such, requests will try to access the storage API for C `http

[2021-01-28 09:54] allburov commented on #206
@fuzzmz Nice investigation!
It does not seem that we will break something if we add this, does it? Let's do it then (and properly test it)! :)

[2021-01-28 10:15] fuzzmz commented on #206
Will take a closer look through the codebase next week.

For sure we can just fix it in [is_file](https://github.com/devopshq/artifactory/blob/c72efeb5651e8c665b155be909da3e9bd566aa00/artifactory.py#L761) but I'd rather see if updating [rest_get](https://github.com/devopshq/artifactory/blob/c72efeb5651e8c665b155be909da3e9bd566aa00/artifactory.py#L568) has any unintended side-effects. That or just

[2021-02-12 14:15] fuzzmz commented on #206
Sorry for the delay. Still have this on my to-do list but unfortunately didn't yet get around to it.

[2021-03-01 07:22] iiknd opened #219 "[Question] ArtifactorySaaSPath.get_groups() - 403 Forbidden"
Hi,

we have an SaaS license for the Artifactory.

[code]
The apikey is obtained from the Administration -> Access Tokens.
The user associated with the access token should have the necessary rights as when using the same user account it can browse through the groups and users.

Is there something done wrong then using the ArtifactorySaaSPath?

[2021-03-05 14:36] kamuops opened #222 "artifactory_.find_permission_target error"
method artifactory_.find_permission_target() is not accepting the **permission targets with the hypen (-) or underscore (_)** . We have all our permission targets in same format (using hypen), hence raising this issue.  .

Traceback (most recent call last):
  File "jfrog.py", line 10, in <module>
    permission = artifactory_.find_permission_target("test-writers")
  File "/usr/local/lib/python3.6/

[2021-03-10 05:56] #214 closed

[2021-03-10 12:52] beliaev-maksim commented on #98
@allburov
can you close this PR?

[2021-03-13 03:15] nacc commented on #168
I can confirm that passing an list does work.

[2021-03-14 15:21] #178 closed

[2021-03-22 04:36] allburov commented on #219
@unzap do others methods work? Are you able to download a file?

[2021-03-22 04:38] allburov commented on #219
Does `get_groups` work with user\password combination well?

[2021-03-23 17:28] unzap commented on #219
Hi,

I was able to get authentication working (Cloud/SaaS) with this combination:

`ArtifactorySaaSPath(url, auth=(user, token))`

After this all methods worked as documented!

With password the authentication failed, I had to use the token associated with the user.

Maybe the documentation could be updated a bit, it does not mention the "user" in the example?

[code]

[2021-03-27 13:17] josc-byte opened #224 "Support Builds API"
does this wrapper support the builds API? (/api/builds/)

it alwayses prefixes the query with the /storage/api.

[2021-03-29 15:21] mo-saeed opened #225 "How to update user password without changing the assigned groups"
Hi,

I am trying to create user
[code]
Then adding groups by user.add_group.

How can I update the user password without removing the assigned groups.

Is there any function that retrieves the user object and then I can just change the password in the retrieved object? so the groups are not gone after the update.

Thanks

[2021-03-31 21:09] nacc opened #226 "Feature Request: allow move() to pass suppress_layouts=True"
https://github.com/devopshq/artifactory/blob/1f2ce4b2c72541baa6c35b435a6b1a1529a25300/artifactory.py#L1055

Based upon https://www.jfrog.com/confluence/display/JFROG/Artifactory+REST+API#ArtifactoryRESTAPI-MoveItem

it is also supported by the underlying api? I'm happy to provide a PR, but not sure if there is a reason it's not already supported.

[2021-04-30 04:09] allburov commented on #224
Nope, does not yet

[2021-05-12 04:17] #226 closed

[2021-05-13 23:45] Jman420 opened #234 "Access Token Creation is broken"
The Access Token creation example is broken and results in the following error :
[code]

I believe the create() method needs to be overridden in the Token class.  It seems that https://github.com/devopshq/artifactory/blob/master/dohq_artifactory/admin.py#L99 is trying to call https://github.com/devopshq/artifactory/blob/master/dohq_artifactory/admin.py#L1057.

-----------

Also, when I try to call

[2021-05-14 02:05] Jman420 commented on #234
2nd issue resolved by downgrading PyJWT to version 1.7.1

[2021-05-14 05:10] allburov commented on #234
@Jman420 did it work before ?

Can you try to add `*args, **kwargs` to `def _create_and_update(self):` method in Token and test it?

[2021-05-14 14:17] Jman420 commented on #234
I do not know if this worked before.  I only started using the package ~2days ago on the latest version.

But, your proposed fix worked.

Token._create_and_update() signature :
`def _create_and_update(self, *args, **kwargs):`

Output :
[code]

[2021-05-16 12:27] Jman420 commented on #234
If anyone is looking for a patch fix while waiting for a release here is the patch I'm using :

[code]

[2021-05-18 10:03] beliaev-maksim commented on #22
@allburov
can you please close this one?

[2021-05-18 10:13] #22 closed

[2021-05-28 06:17] pan64 opened #235 "improve logging"
At first you need to use getLogger("string") instead of direct usage of logging.debug.
In general would be nice to have more debug and some info messages logged.

[2021-05-29 17:16] tanvimoharir commented on #235
Hello ,I would like to work on this.
Thanks

[2021-06-04 20:09] hjs-develop opened #237 "SSLError(SSLError(9, '[SSL] PEM lib (_ssl.c:4043)') using cert named parameter in ArtifactoryPath()"
When using an explicate path with cert parameter in ArtifactoryPath to use a custom PEM certificate, an ArtifactoryException is launched during a following touch() with the message:

requests.exceptions.SSLError: HTTPSConnectionPool(host='af2.transware-ag.de', port=443): Max retries exceeded with url: /artifactory/api/storage/devtest-data-local/MVS (Caused by SSLError(SSLError(9, '[SSL] PEM lib (_

[2021-06-11 15:47] silygose opened #238 "AttributeError: __enter__ raised when globing a path python3.7.9"
for file_ in self.artifactory_path.glob(f'**/*.{file_extension}'):
raises AttributeError: __enter__
using python 3.7.9. The above code worked fine in python 3.7.5
using dohq-artifactory==0.7.574

    for file_ in self.artifactory_path.glob('**/*.py'):
  File "c:\tools\python\3.7\3.7.9-win64\Lib\pathlib.py", line 1125, in glob
    for p in selector.select_from(self):
  File "c:\tools\python\3.7\3.7

[2021-06-11 17:03] beliaev-maksim opened #239 "repo is not updated when apply joinpath"
Hi @allburov
there is a problem that `repo` property is not updated when we use `joinpath`.
I tried to debug the issue by myself, but cannot really figure out how to refresh `ArtifactoryPath `when we apply `joinpath `method

here is test code to reproduce:
[code]

[2021-06-11 17:05] beliaev-maksim commented on #164
@allburov
can you please close this one, looks like that changes are already merged

[2021-06-15 08:28] #164 closed

[2021-06-21 11:03] beliaev-maksim commented on #158
@stmlange
in artifactory password, API key, encrypted password are cross replaceable

have you just tried to set password = api_key ?

[2021-06-22 08:21] stmlange commented on #158
Mhh based on my initial description it seems that I have tried that (`When setting the password to the API-Key I'll just get 400 Client Error: Bad Request for url`), however I was curious and tried it again and it seems to work.
So
[code]
works. Perhaps updating the doc in the config section would help? Not sure, but I would be fine by just closing,

Thanks!

[2021-06-22 11:42] beliaev-maksim commented on #158
@stmlange yes, I read the description, but that is the whole point how Artifactory works, that is why I decided to double check with you, since for me replace of password by API key works fine

may be there was some temprorary issue with JFrog rejecting api key? or some issue with this repo old version

@allburov
please proceed to close the issue

[2021-06-22 12:48] #158 closed

[2021-06-22 12:49] stmlange commented on #158
Yeah I don't know what the root cause was. The authentication is setup via LDAP so perhaps I was already locked out when trying the `password = <secret-api-key>` approach. Don't know.....anyhow it's working so I guess it doesn't matter what the root cause is.

Thanks for your feedback and input!

[2021-06-22 17:29] beliaev-maksim commented on #206
@fuzzmz @allburov
there are some other characters that should be decoded then: https://en.wikipedia.org/wiki/Percent-encoding#Reserved_characters

may be just do a check of URL in each of requests and if any, then send a warning and ask user to apply new function `url_decode` on URL if user sees an issue
and in this `url_decode` function just convert all symbols to % representation?

[2021-06-22 17:46] beliaev-maksim commented on #144
why you do not use official API for this?
`repo.add_repository(*repos)`

can you please give it a try?

[2021-06-23 11:36] beliaev-maksim commented on #44
@viggyprabhu
are you sure it is not a limitation of JFrog API?
I have seen some issues that cached repos are represented as local repos in REST API

[2021-06-25 20:36] nacc opened #245 "copying a artifact with ':' in filename fails"
I'm trying to copy a artifact from one repository to another on the same instance. It has a ':' in its name

`3:6.04~git20190206.bf6db5b4+dfsg1-2`

It would appear that when I do a artifact lookup and then do

`artifact.copy(...)`, the `:` does not get encoded and I get:

`
Failed to copy from src=SRCREPO/pool/internal/focal/extlinux_3:6.04~git20190206.bf6db5b4+dfsg1-2_amd64.deb to target=TGTREPO/

[2021-06-28 14:41] beliaev-maksim commented on #206
looks like #245 is related

[2021-06-28 17:33] nacc commented on #206
Yeah, good catch. It is definitely related. I submitted a PR that fixes the cases I hit, but fixing it properly in the pathobj would be ideal. I think the issue is that using pathlib-like manipulation for URLs requires encoding the components of the URL to ensure that special characters are not transmitted as literals.

[2021-06-29 11:16] beliaev-maksim commented on #245
can you please try my global fix and let me know if that works for your case: #247

[2021-06-29 15:26] nacc commented on #245
@beliaev-maksim I hit this exact issue with the same change locally. So you have to (afaict) take apart the pathobj into its parts to make sure the drive part does not get encoded (since it has `http://` in it or so) but the filenames do.

[2021-06-29 15:30] beliaev-maksim commented on #245
@nacc
yes, but the problem is that if we encode `ArtifactoryPath`, then for example `path.name` will return you `my%3Afile` instead of `my:file`

[2021-06-29 16:00] nacc commented on #245
Yep, so I think you can only encode it just before interacting with the REST API (that is, when transforming from a path to a URL). It probably deserves a helper method.

[2021-07-02 10:19] beliaev-maksim commented on #216
@alivx
do you download a single file or a folder?
artifactory only supports archiving of folders

also, what is the artifactory version you have? just to ensure it supports archive method

[2021-07-07 10:51] EslamElHusseiny commented on #144
@beliaev-maksim I've tried `repo.add_repository(*repos)` and it works fine. Thanks!

[2021-07-07 10:51] #144 closed

[2021-07-07 11:11] beliaev-maksim commented on #144
@EslamElHusseiny
thank you for the feedback!

[2021-07-07 11:13] beliaev-maksim commented on #135
@allburov
please close this issue, fixes are available in #204 and potentially #242 could be also used

[2021-07-07 11:26] #135 closed

[2021-07-07 13:27] karanpreetsingh1990 commented on #235
I've come across some issues with the loggers as well because it's using the logging.debug statement directly.

I have a custom field being added to my log and using this module raises an error for the value not being present.
[code]

The error I get is the following:
[code]

It would be great if the module could use the existing logger.

[2021-07-21 02:00] dudym opened #250 "cannot set properties of a file with dash characters anymore"
It seems like since https://github.com/devopshq/artifactory/commit/7e3180aaf8bf2f41d13c2a4e8cb33e13ecfaff9b (v0.7.605) we fail to archive files that have dash-characters in them:

[code]
used to work.

Now we're getting
`
[Errno 2] No such file or directory: 'https://mydomainname/artifactory/my-location/api/storage/myfile-with-dashes'
`
@nacc - can you please have a look?

[2021-07-21 13:55] nacc commented on #250
@dudym thank you for letting me know! I think I see the issue -- the underlying `requests.utils.quote` unconditionally quotes the '-' and does not provide an interface to override the underlying safe= parameter, to indicate the '-' in our case does not need to be escaped. I think this has to do with Artifactory's API actually being sort of non-standard. We my have to switch from using requests.quo

[2021-07-21 18:57] nacc commented on #250
For what it's worth, I am getting a 404 even with 0.7.574, which I believe predates the referred to change. I'm debugging it still.

[2021-07-21 19:18] nacc commented on #250
NM! It must have been some config option masking the underlying condition. Fix incoming shortly.

[2021-07-22 15:01] nacc commented on #250
Sigh, now I'm thoroughly confused. I was able to (I think) reproduce your conditions with our Artifactory setup. But after trying to test my fix, when I go back and remove the files, have the admins empty the trash, etc. and re-try the original failing test case, it always works, with or without my fix. It feels like something must be being cached by the Artifactory backend, but I have no idea wha

[2021-07-22 18:15] nacc commented on #250
@dudym would you be able to test with my proposed changes?

[2021-07-23 02:56] zhan9san opened #253 "Special characters in ArtifactoryPath"
Hi
Thanks you for making this great project.

I am confused about the special characters in ArtifactoryPath.
Could you please give me some advice?

We ignore '#' and '?' in test case, but actually, if a URL contains '#' or '?', an incomplete path would be returned in `_get_path`.
Do I need to use quoted URL to initialize an ArtifactoryPath instance when a URL contains '#' or '?'?

It seems users h

[2021-07-23 08:17] zhan9san commented on #253
Besides,
[code]

FileNotFoundError: Failed to delete file: 404, because the quoted URL is quoted again in `unlink` method.
[code]
but `a.rmdir()` works well.

@allburov @beliaev-maksim
As you can see, there are dozens of issues related to special characters. Could you kindly review the proposal below?
If you approve them, I'd like to work on this refactor.

Here is my proposal
1. Parse the origina

[2021-07-23 10:01] zhan9san commented on #253
**Regarding the parse,**
Modify `_get_path` method in `_ArtifactoryFlavour` class.

**Regarding the quote,**
1. Quote URL in following methods in `_ArtifactoryAccessor` class.
    1. `rest_get`
    2. `rest_put`
    3. `rest_post`
    4. `rest_del`
    5. `rest_put_stream`
    6. `rest_get_stream`

2. Remove any other calls of quote

[2021-08-02 07:41] #253 closed

[2021-08-02 07:42] zhan9san commented on #250
It may be fixed now. #254
Could you try it again?

[2021-08-02 08:59] zhan9san commented on #157
@allburov

IMHO, this is not a bug. There are some misunderstanding among `deploy`, `deploy_file` and `deploy_deb`.

The methods above are to upload the given file to ArtifactoryPath. And only if the ArtifactoryPath instance exists and is a dir, the given file will be uploaded to that dir.

It's better to modify the example in README.md like #256

[2021-08-03 15:56] rupaschomaker opened #257 "Support Projects feature"
Please consider adding support for Projects:

https://www.jfrog.com/confluence/display/JFROG/Artifactory+REST+API#ArtifactoryRESTAPI-PROJECTS

Note, must use Bearer Token when using this api.  Also, requires /access endpoint, not /artifactory and things like creating a repo in a particular project requires a key "projectKey".

[2021-08-04 05:47] zhan9san commented on #257
Let me try to add this feature.

[2021-08-05 06:27] #157 closed

[2021-08-05 09:25] beliaev-maksim commented on #239
@zhan9san
works great, thanks!

[2021-08-05 09:25] #239 closed

[2021-08-05 09:31] zhan9san commented on #239
My pleasure.

[2021-08-05 09:40] beliaev-maksim commented on #67
please check if #248 fixes it for you

[2021-08-05 09:41] beliaev-maksim commented on #172
please check if #248 solves your issue

[2021-08-05 09:41] beliaev-maksim commented on #224
please check if #248 solves your issue

[2021-08-06 07:49] allburov commented on #257
Is it "Admin area" objects? If it's - let's add it here https://github.com/devopshq/artifactory/blob/master/dohq_artifactory/admin.py

@zhan9san It'd be great!

[2021-08-06 12:35] rupaschomaker commented on #257
I was wrong, the /api/repositories and /api/repositores/{key} endpoints do not have any knowledge of projectKey -- I have an open ticket with jfrog on that.

The functionality to be added all make sense in admin.py.

[2021-08-06 13:15] zhan9san commented on #257
Yes. It's an "Admin area" object. I have implemented CURD of Projects, and added token support in `dohq_artifactory/auth.py`.

Projects(Done)

1. Get Projects List
2. Add a New Project
3. Get Project
4. Update Existing Project Properties
5. Delete Existing Project

---

Project Users(In-progress)

1. Get Project Users
2. Get Project User
3. Update User in Project
4. Delete Existing Project's User

[2021-08-07 15:37] zhan9san opened #259 "URL with port issue"
If the artifactory URL is `https://example.com:80/artifactory/foo`

Expected quoted URL is
[code]
But get the following one
[code]

[2021-08-08 02:20] zhan9san opened #262 "Support access tokens for authentication"
Artifactory Projects requires a valid token to authenticate.

https://www.jfrog.com/confluence/display/JFROG/Artifactory+REST+API#ArtifactoryRESTAPI-PROJECTS
https://www.jfrog.com/confluence/display/JFROG/Access+Tokens

[2021-08-08 14:18] zhan9san opened #264 "Integration test issue"
1. Invalid email
[code]
2. Invalid password
[code]
3. Assert list
[code]
4. Warning
[code]

[2021-08-10 09:28] zhan9san commented on #24
Hi @allburov
Is it valuable to introduce the following integration test approach?

- Mock up Session.request
- Generate an expected response from file

[Atlassian test](https://github.com/atlassian-api/atlassian-python-api/issues/808)
[Mock](https://github.com/atlassian-api/atlassian-python-api/blob/master/tests/mockup.py#L75)

[2021-08-11 06:11] allburov commented on #24
@zhan9san I think it's not.
I tried this approach once in TFS library https://github.com/devopshq/tfs and it's too heavy for supporting and don't catch real system behavior, only a snapshot of one version.

The best way - create a docker container during integration tests or use SaaS solution and run tests there.

If you want to - you can create separate tests with mocks but let's keep the origina

[2021-08-11 08:10] #264 closed

[2021-08-11 08:11] #259 closed

[2021-08-11 09:34] mentaal commented on #67
Thanks! Will do but it may be a while, I'm on a new project and will no doubt need this feature with it.
For my last one I just rolled my own REST script to achieve this.

[2021-08-16 02:28] zhan9san opened #267 "token for basic authentication"
The official doc shows, [AccessTokens-BasicAuthentication](https://www.jfrog.com/confluence/display/JFROG/Access+Tokens#AccessTokens-BasicAuthentication)

It doesn't work when we call projects api.

[code]

It doesn't work thru `curl`
[code]

Expected status code is 404 or 200, but get 401.

I think it's a bug of Artifactory

Besides, if we use `token` in header, it works
[code]

It works for user

[2021-08-17 07:11] allburov commented on #267
If `token="TOKEN` works in all endpoints - we can remove a use case`auth=("USERNAME", "TOKEN")` from README.md to reduce confusing. Only `token=` will be a valid usage for Token Based Authentication

[2021-08-17 12:22] arnisjuraga opened #268 "Is it possible to run `dry-run` upload or copy?"
Can I test uploads or move/copy by using some `dry-run`?
E.g. - `jfrog-cli` has `--dry-run` switch, which simulates uploads/move/copy but does not change any data.

[2021-08-19 06:54] allburov commented on #267
@zhan9san Thank you!

[2021-08-19 06:54] #267 closed

[2021-08-19 09:00] beliaev-maksim commented on #224
@allburov please close as addressed by #248

[2021-08-19 09:00] beliaev-maksim commented on #172
@allburov please close as addressed by #248

[2021-08-19 09:00] beliaev-maksim commented on #67
@allburov please close as addressed by #248

[2021-08-19 09:03] beliaev-maksim commented on #245
@allburov please close as addressed by #254

[2021-08-19 09:03] beliaev-maksim commented on #206
@allburov please close as addressed by #254

[2021-08-19 09:04] beliaev-maksim commented on #250
@allburov please close as addressed by #254

[2021-08-19 09:30] #250 closed

[2021-08-19 09:42] allburov commented on #206
@beliaev-maksim Hi!
I have added you to artifactory's team, now you're able to close issues yourself (if I added right roles)

[2021-08-19 09:50] beliaev-maksim commented on #206
@allburov
looks like I still do not have permissions to close

[2021-08-19 09:55] beliaev-maksim commented on #206
addressed by #254

[2021-08-19 09:55] #206 closed

[2021-08-19 09:55] beliaev-maksim commented on #224
addressed by #248

[2021-08-19 09:55] #224 closed

[2021-08-19 09:56] beliaev-maksim commented on #67
addressed by #248

[2021-08-19 09:56] #67 closed

[2021-08-19 09:56] beliaev-maksim commented on #245
addressed by #254

[2021-08-19 09:58] beliaev-maksim commented on #98
addressed by #141

[2021-08-19 09:58] #98 closed

[2021-08-19 09:58] beliaev-maksim commented on #172
addressed by #248

[2021-08-19 09:58] #172 closed

[2021-08-19 10:16] beliaev-maksim commented on #238
@silygose
can you please try again with latest version?

here is my stack, tested both win and linx
[code]

[2021-08-19 10:53] zhan9san commented on #222
I'll follow up this issue

[2021-08-19 10:56] zhan9san commented on #27
I'll follow up this issue

[2021-08-19 21:14] beliaev-maksim commented on #24
@allburov
what is about cloud version?
looks like it is available for free

![image](https://user-images.githubusercontent.com/51964909/130145114-25fba8f1-bbe5-49f6-a68a-97537474e0bc.png)

[2021-08-20 01:53] zhan9san commented on #268
Hi @arnisjuraga

Could you please explain the necessity to support `dry-run`? Could you list some specific scenarios?

If true, the command only indicates which artifacts would have been uploaded/moved/copied.
- [UploadingFiles](https://www.jfrog.com/confluence/display/CLI/CLI+for+JFrog+Artifactory#CLIforJFrogArtifactory-UploadingFiles):
- [MovingFiles](https://www.jfrog.com/confluence/display/CLI

[2021-08-20 07:02] allburov commented on #24
@beliaev-maksim does it support API calls? "Free" plan didn't support API before
If it does - let's try to add it in CI\CD pipeline!

[2021-08-20 08:55] beliaev-maksim commented on #219
@iiknd,
looking at JFrog docs I see that they mention that all on-premise API calls are valid.
https://www.jfrog.com/confluence/display/RTF6X/Artifactory+REST+API#ArtifactoryRESTAPI-WorkingwithArtifactorySaaS

in this case apikey should be valid authentication method:
https://www.jfrog.com/confluence/display/RTF6X/Artifactory+REST+API#ArtifactoryRESTAPI-Authentication

so cloud and on premise vers

[2021-08-20 12:22] #219 closed

[2021-08-20 14:09] beliaev-maksim commented on #216
@alivx
please try #272 and let us know if that works stably for you

also, 401 error code means that authentication failed. Have you added any required?
see here: https://github.com/devopshq/artifactory#authentication

[2021-08-20 14:11] beliaev-maksim commented on #36
also, here could be an issue if colon was used. #254 might fixed it

@mentaal
can you check on the latest version?

[2021-08-20 19:07] OddBloke opened #273 "`deploy_file` fails with "Unsupported archive extension" when specifying parameters and `explode_archive=True`"
When running the below reproducer, I see the following output:

[code]

[code]

[2021-08-20 19:13] OddBloke commented on #273
A bisect indicates that, as I think we expect, 991682b5c9194a7358e8aa40669c4d575f913c39 introduced the issue.

[2021-08-23 03:30] zhan9san commented on #222
Hi @kamuops

It seems this issue has been fixed in [Add missing 'mxm' and 'x' permissions ](https://github.com/zhan9san/artifactory/commit/c50ae34baeda714e9d6c30a4896dc6d0cc539fbf)

Could you please verify it in latest version?

[2021-08-23 05:52] allburov opened #275 "Tests - add coverage report to CI\CD"
As proposed here https://github.com/devopshq/artifactory/pull/274#issuecomment-903004673

[2021-08-23 15:00] beliaev-maksim commented on #51
XRay is a different tool and potentially should be handled in separate library, but with available use of artifactory objects

[2021-08-23 15:00] #51 closed

[2021-08-23 15:06] beliaev-maksim commented on #44
need a reproducible case that is done in recent version of Artifactory. We use Artifactory Version 6.10.2 and all cached files available in the list of files

files should be listed via JFrog CLI, otherwise it is a limitation of Artifactory

[2021-08-23 15:06] #44 closed

[2021-08-24 07:36] mentaal commented on #36
Hi @beliaev-maksim ,
Thanks for the prompt and apologies for the delay in responding.
I did try deleting a file in my company's artifactory instance using `unlink` but I end up with a `404`.

I'm essentially doing this:

    the_dir = artifactory_path / 'some_directory'

    for f in the_dir.iterdir():
        print(f'removing: {f}...')
        f.unlink()

I end up with the error:

    FileNotFoun

[2021-08-24 07:47] beliaev-maksim commented on #36
@mentaal
should not be a permission issue, I just validated and it returns 403 as it should be when I try to unlink file without permissions
do you see that issue for each file in artifactory?

do you have permissions to upload (deploy) a file? Can you try to upload the file, print its name and then unlink?

[2021-08-24 08:03] mentaal commented on #36
@beliaev-maksim ok I tried this:

    with TemporaryDirectory() as td:
        tf = Path(td) / 'temp_file.txt'
        tf.write_text('testing testing, is this thing on?...')

        firmware_dir.deploy_file(tf)

    for f in firmware_dir.iterdir():
        print(f'found file: {f}')

    to_remove = firmware_dir / 'temp_file.txt'

    if to_remove.exists():
        print(f'found file: {to_remove}.

[2021-08-24 08:06] mentaal commented on #36
Sorry, just saw your comment about special characters. the only non alpha-numeric character in the repo name is a `-`.
The repo name is of the form: `<prefix-nuget`>

[2021-08-24 08:45] beliaev-maksim commented on #36
@mentaal
can you please try develop version, install it using command below, run same script as you shown, send output

`pip install git+https://github.com/beliaev-maksim/artifactory.git@test_unlink`

[2021-08-24 09:46] mentaal commented on #36
Hi @beliaev-maksim,

Ok I've updated to the test_unlink path as you requested and reran:

    $ python proj_artifactory.py
    https://artifactory.company.com/artifactory/company-nuget/proj/temp_file.txt
    https://artifactory.company.com/artifactory/company-nuget/proj/test_pkg_dont_use.nupkg
    found file: https://artifactory.company.com/artifactory/company-nuget/proj/temp_file.txt
    found fi

[2021-08-24 09:57] beliaev-maksim commented on #36
@mentaal
thanks,
at least now error message is consistent and we see correct URL is used

can you please do another check:
1. create file **manually** on Artifactory
2. then run following snippet (optionally adding auth if required)
[code]

here we can check if children of the object have some issue. Also, we can check if file has stats

[2021-08-24 10:24] mentaal commented on #36
As an aside, do you know why this happens?

    urllib3.exceptions.ProtocolError: ('Connection aborted.', ConnectionAbortedError(10053, 'An established connection was aborted by the software in your host machine', None, 10053, None))

I occasionally see this when I run it from my terminal.

Anyway, I manually created a new file: `temp_file.txt` this time and uploaded it using the artifactory web U

[2021-08-24 13:01] beliaev-maksim commented on #36
@mentaal
it is not really related to the library, you can google more for "protocol error 10053"

btw,
can you download file instead of unlinking it?
I am curious if that will also produce an error

[2021-08-24 15:52] mentaal commented on #36
Thanks @beliaev-maksim the permissions that is discussed in those links must be it. I didn't have required permissions in the repo I was trying to delete from. In fact I had so little permissions, I couldn't even tell! It was only when I explored a different repo where I did have more permissions, the delete options showed up in the web UI.

Using `unlink` in this other repo works fine.

Thanks fo

[2021-08-24 15:52] #36 closed

[2021-08-24 16:49] beliaev-maksim commented on #36
@mentaal
thank you for the feedback!

probably I will add a warning in this library to show that this might be permission issue

[2021-08-24 19:15] beliaev-maksim commented on #91
Hi @cmccluskey,
how does that different from https://www.jfrog.com/confluence/display/JFROG/Artifactory+REST+API#ArtifactoryRESTAPI-SetItemProperties ?
this is implemented here: https://github.com/devopshq/artifactory#artifact-properties

for more details you can see function `set_properties`

if it is not what you are looking for, can you give more info?

[2021-08-27 12:51] adamtheturtle opened #281 "Allow "verify" in the configuration to be a certfile"
In `artifactory.read_config` there is the following code:

[code]

This passes the value of `verify` through to `requests`.
However, `requests` also allows `verify` to be the path to a `CA_BUNDLE`. See https://docs.python-requests.org/en/master/user/advanced/#ssl-cert-verification.

With just boolean values available, this library will error when using an Artifactory instance which serves a self-s

[2021-08-31 01:05] rupaschomaker opened #282 "Projects missing get_projects() method"
Please add get_projects() similar to other get_foo() methods in artifactory.py

@zhan9san

[2021-08-31 04:19] zhan9san commented on #282
Glad to do that.

[2021-08-31 12:53] rupaschomaker commented on #282
Thank you for this and the other support for Projects

[2021-09-01 14:07] #91 closed

[2021-09-01 14:11] #86 closed

[2021-09-01 19:07] #238 closed

[2021-09-01 19:22] beliaev-maksim commented on #216
401 Unauthorized response is used for missing or bad authentication

403 Forbidden response should be used afterwards, when the user is authenticated but isn't authorized to perform the requested operation on the given resource

[2021-09-01 19:22] #216 closed

[2021-09-01 19:30] beliaev-maksim commented on #222
@kamuops
as @zhan9san said, the issue is not that you use hypen or any other symbol, but that artifactory had unsupported permission types. Since #220 'mxm' or 'x' were added, so now it should not throw an error

[2021-09-08 09:29] #222 closed

[2021-09-08 09:32] zhan9san commented on #282
Thank @beliaev-maksim , #286 is merged into develop branch.
@rupaschomaker  Could you please verify this issue?

[2021-09-09 06:23] #275 closed

[2021-09-09 06:24] allburov commented on #275
Actually, no one will look at them if it won't fail CI pipeline.

[2021-09-09 09:45] beliaev-maksim commented on #275
@allburov
there is a way, that you configure pipeline the way, that coverage from previous commit should not be less than in current

eg we had 81% coverage, I add code without tests, it drops to 78%, pipe fails and forces me to add tests

see example: https://github.com/getsentry/responses

[2021-09-09 10:20] zhan9san opened #288 "Support FileStatistics in Artifact stat"
[FileStatistics](https://www.jfrog.com/confluence/display/JFROG/Artifactory+REST+API#ArtifactoryRESTAPI-FileStatistics)

Could you please assign this issue to me?

[2021-09-13 08:41] #273 closed

[2021-09-13 08:42] #282 closed

[2021-09-13 08:42] #168 closed

[2021-09-13 08:55] beliaev-maksim commented on #27
now is added to develop branch

will be added in next release

[2021-09-13 08:55] #27 closed

[2021-09-13 08:59] beliaev-maksim commented on #131
now is added to develop branch

will be added in next release

[2021-09-13 08:59] #131 closed

[2021-09-13 08:59] beliaev-maksim commented on #235
now is added to develop branch

will be added in next release

[2021-09-13 08:59] #235 closed

[2021-09-20 09:23] beliaev-maksim commented on #162
@allburov
I just tested on the instance of Artifactory

if artifact, that should be copied, doesn't have a checksum initially, then user gets warning that was mentioned
if artifact, has checksums, that were added during deploy, then the checksum are preserved during copy

from this test I assume that it is more like a user error. Initial artifact must have checksum calculated, before we copy.
if u

[2021-09-20 09:41] stmlange commented on #162
Hi,
all of our artifacts are deployed / uploaded with gradle and I'm fairly confident that all the artifacts have / had checksum's present.
Perhaps worth mentioning is that when I encountered the issue I was copying artifacts between two different instances. So something along the lines of:
[code]
Unfortunately I can't check anymore if this is actually true, since one of the instance was retired.

[2021-09-20 12:17] beliaev-maksim commented on #162
@stmlange
what you just mentioned makes a huge difference to the issue description

if instances are different, then completely different mechanism is utilized under the hood

[2021-09-20 15:08] beliaev-maksim commented on #225
@mo-saeed
can you please elaborate more on the issue.

for example User object allows to change password
[code]

[2021-09-21 15:06] OddBloke opened #293 "Mutating `.properties` on an artifact should persist in Artifactory"
Currently one has to write:

[code]

This is a little confusing as, in Python, dicts are passed by reference so, normally, mutating them in one place in the code "persists" that mutation anywhere else they are referenced. I would prefer to be able to simply do:

[code]

[2021-09-27 10:35] #281 closed

[2021-09-27 10:35] beliaev-maksim commented on #162
@stmlange
available in develop branch
will be pushed to next release

[2021-09-27 10:35] #162 closed

[2021-09-28 13:12] beliaev-maksim commented on #237
@hjs-develop,
can you please provide a snippet of the code that you use to reproduce the issue?

[2021-09-30 09:11] hjs-develop commented on #237
@beliaev-maksim thank your for following up this possible issue.

**This code works by copy the PEM to the default path:**

`        try:
            #
            # locate the PEM file for a workaround and copy it to the certifi default PEM
            # see Issue: https://github.com/devopshq/artifactory/issues/237
            # see also https://docs.python-requests.org/en/latest/user/advanced/#s

[2021-09-30 09:46] beliaev-maksim commented on #237
can you please share exact path that you use for certificate ?
have you tried another locations for certificate?
what is the OS that you run?

[2021-09-30 10:23] hjs-develop commented on #237
Hi,

exact filepath is:  \\192.168.123.155\configs\cacert.pem
It is an SMB mount on a Windows 2016 server
I have read/write access to this file using e.g. notepad++
I am using Windows 10 professional with latest updates.

I will try later the day on a local file system folder like c.\temp\cacert.pem

[2021-09-30 10:37] beliaev-maksim commented on #237
@hjs-develop
potentially, this might be a problem, but before we try to fix I will wait for your feedback about using cert on local drive

[2021-09-30 12:12] hjs-develop commented on #237
This is the trace from pytest when I use cert=<local file>

[code]

[2021-09-30 13:19] beliaev-maksim commented on #237
@hjs-develop
in the traceback I do not see any connection to artifactory library.

also, shorten traceback would be more readable, I am not interested in the source code of built-in modules

please run this snippet, replace URL and path by your URL and path:
[code]
does that work?

[2021-09-30 20:13] beliaev-maksim commented on #257
@zhan9san
is the work on this item completed? can we close it?

[2021-10-01 09:30] chibbert opened #296 "stat() now fails on paths with space (%20)"
This was working in: 0.7.630, but broken from pip release: 0.7.658

I'm not aware of any public artifactory servers that you could replicate the following test case against, but I'll outline the test case anyway:

[code]

When 0.7.630 is installed this works correctly.

When I update to 0.7.658 this fails with:
[code]

I've identified the commit where this issue started occuring as a3c386a3af0f6cc

[2021-10-01 10:26] beliaev-maksim commented on #296
now we use URL percent encoding in the library.
please test following code:
[code]

[2021-10-01 13:02] chibbert commented on #296
Thanks so much for the fast reply. I've tested with the file path string using spaces (converted with urllib.parse.unquote) and this is working fine. Thank you for re-educating me :-)

[2021-10-01 13:02] #296 closed

[2021-10-01 14:24] beliaev-maksim commented on #296
@chibbert
no problem,
basically you need to take path from your arti:
![image](https://user-images.githubusercontent.com/51964909/135636361-83b02bb1-c711-4f2d-a6a4-aec7f9dbe78a.png)

[2021-10-01 14:56] kari-hardarson opened #297 "If I download an .html file it becomes zipped"
I use this code:
[code]
to download  an .html file from Artifactory.  When I open the resulting file, it is zipped!
If I rename it to "foo.html.zip", I can open it and the real html file is inside the .zip file.

[2021-10-01 15:10] beliaev-maksim commented on #297
@kari-hardarson
can you try:
[code]

[2021-10-01 17:43] beliaev-maksim commented on #293
@OddBloke
that was tough, you can consider stimulating development :D

please check https://github.com/beliaev-maksim/artifactory/tree/mbeliaev/update_props  branch on your side in case if that has some issues on your side

[2021-10-02 17:36] kari-hardarson commented on #297
This fixed my problem!  Thank you.  Am I correct in assuming I hit upon a bug?

Best regards, Kari

[2021-10-03 17:05] beliaev-maksim commented on #297
unfortunately, I cannot reproduce the issue. This might be somehow related to Artifactory settings. The only difference between your and one that I provided, is that content is downloaded in chunks instead of raw. However, knowing the background of requests, raw is also done in chunks

so, at this moment it does not worth to investigate the issue that I cannot reproduce.

[2021-10-03 17:05] #297 closed

[2021-10-04 06:35] zhan9san commented on #257
The basic functionality has been implemented in #266 .

If someone wants the rest, let us trace it in another small issue.

Feel free to close this issue.

[2021-10-06 16:52] OddBloke opened #302 "Traceback on Python 3.10: TypeError: stat() missing required argument 'path' (pos 1)"
We accidentally started using Python 3.10 to run our Artifactory-touching code and we hit the following traceback (I've removed the traceback lines from our code; it's just executing `touch` against the root path to check connectivity):

[code]

(3.10 only released today, so I'm not expecting you to support it yet! Just figured I'd let you know at least part of what you'll hit.)

[2021-10-08 08:07] beliaev-maksim commented on #293
@allburov
I don't like all these ideas with context managers and decorators

If number of connections is a concern when we directly change property, then I propose to reject this issue and not implement
Objections?

[2021-10-08 08:37] allburov commented on #293
@beliaev-maksim anyway, let's move the changes for this issue in a new PR from https://github.com/devopshq/artifactory/pull/298

[2021-10-12 10:32] #268 closed

[2021-10-12 14:02] hjs-develop commented on #237
Hi @beliaev-maksim ,
thanks for following up.

I used the lines with my parameters and it raised an exception if I use the custom certificate on SMB path of Windows Server:

HTTPSConnectionPool(host='af2.transware-ag.de', port=443): Max retries exceeded with url: /artifactory/api/repositories (Caused by SSLError(SSLError(9, '[SSL] PEM lib (_ssl.c:4065)')))

If I copy from SMB path to local path fo

[2021-10-14 11:00] dothque opened #305 "Usage examples seems to be out dated"
the usage examples starts with
`from artifactory import ArtifactoryPath`

which does not exists after
`pip install dohq-artifactory `

I tried to use
`from dohq_artifactory import ArtifactoryPath`
but this one does not have ArtifactoryPath.

[2021-10-14 13:04] #305 closed, assigned to beliaev-maksim

[2021-11-09 11:31] allburov opened #308 "Move the repo to Github Actions"
We need to move the repo to Github Actions.

The only thing is left - deploy release package to pypi, @beliaev-maksim is it right?
Let's follow official guide and do it! https://packaging.python.org/guides/publishing-package-distribution-releases-using-github-actions-ci-cd-workflows/

@Tim55667757 could you save credential for pypi in github secrets by following the instruction? https://packaging.

[2021-11-09 11:41] beliaev-maksim commented on #308
@allburov
that is correct. I do not have access to secrets, so it will be on you :)

I am considering updating pre-commit CI also to GH actions, but this is low priority for now

[2021-11-09 11:57] #302 closed

[2021-11-09 16:02] OddBloke opened #309 ".properties: passing a set() as a value results in a squashed string being set in Artifactory"
The below reproducer emits `{'deb.architecture': ['amd64'], 'deb.component': ['twoone']}`: `deb.component` is incorrect.

[code]

[2021-11-09 16:04] OddBloke commented on #309
This issue has been _sort of_ fixed in `develop`: sets are not JSON-serialisable so it instead raises:

[code]

This is certainly preferable to silently writing incorrect data to Artifactory, IMO.

[2021-11-09 18:17] beliaev-maksim commented on #309
@OddBloke
but why do you use `set` and a `list` ?

[2021-11-10 11:35] allburov commented on #308
[pre-commit.ci](https://pre-commit.ci/) handles hooks very good, doesn't it? I think it's the best place where we should put pre-commit checks :)

[2021-11-10 11:38] beliaev-maksim commented on #308
@allburov
they have a plugin for GHA as well. I use it in another project and works very good

I just prefer to have all CI from one provider

[2021-11-10 12:21] Tim55667757 commented on #308
I will generate a new token and gave it to @allburov

[2021-11-11 04:09] allburov commented on #308
I've added `PYPI_API_TOKEN` to secret variables in the project

@Tim55667757 suggested not to use test pypi and releasing versions like other projects in devopshq do:
1. `develop` branch is released with `dev` suffix and build number at the end `dohq-artifactory==1.2.3.dev4`
2. `master` branch is release without suffix `dohq-artifactory==1.2.3`

In this case each commit to develop will test "deplo

[2021-11-11 14:13] OddBloke commented on #309
Thanks for taking a look, Maksim! We're using a `set` because we want to determine a set of properties to apply to an Artifactory object. We're calling `list()` on it now to sidestep this bug (and to work with the code in `develop`).

I think it's fine for the library to reject sets: it's better to require users to be explicit about what will happen in Artifactory rather than trying to guess what

[2021-11-11 14:16] beliaev-maksim commented on #309
@OddBloke
thanks for feedback!
we are finalizing pipeline now and will publish new release ASAP. Upcoming version has lots of fixes and features

[2021-11-12 11:21] #309 closed

[2021-11-15 11:06] beliaev-maksim commented on #308
@allburov @Tim55667757
I am not confident that current approach of build publishing is correct

If you check `setup.py` you will see that versions for Wheel and for tarball will be different when you install it on the machine. (see [PyPi](https://pypi.org/project/dohq-artifactory/#files). tarball will always have 0.7.dev0, which is incorrect

we have to set version static, that means there are 3 o

[2021-11-15 11:35] allburov commented on #308
Hi! Yep, it looks a bit complicated than it should...

Let's move current approach (with all it's bugs) to Github Actions first and then we'll improve it step by step.

With Travis CI we used the simple approach:
1. Increase minor version manually in https://github.com/devopshq/artifactory/blob/master/setup.py
2. Get build version from `TRAVIS_BRANCH` (https://github.com/devopshq/artifactory/blob/

[2021-11-15 11:38] beliaev-maksim commented on #308
@allburov
there is no such a thing like build number in GHA.
I do not know how to transfer current approach 1:1

[2021-11-15 11:57] allburov commented on #308
Let's hardcode the version in setup.py then :) We don't release frequently

[2021-11-16 14:20] rupaschomaker opened #310 "Out of tree classes need to re-implement get-all if baseurl != /artifactory"
ProjectUser and some other objects require /artifactory to be stripped from drive.

The current base _get_all() method referred to below:

https://github.com/devopshq/artifactory/blob/a95d10e9264677a409a508ae30b967f68d82e699/artifactory.py#L2090

has explicit knowledge about which classes should have /artifactory stripped.  Putting this knowledge in the base class doesn't seem right since it can't

[2021-11-16 15:09] beliaev-maksim commented on #310
@rupaschomaker
would you like to propose a PR to initiate a discussion?

[2021-11-22 13:22] GerhardArya opened #311 "path.mkdir Causing Errors"
path.mkdir is causing errors more often than not.

My usage:

[code]
This function is called several times within a for loop hence the input i. Path.mkdir() is called only for the first loop to create the folder for the archive files that are going to be deployed/uploaded there. This used to work no problem for the last several months before starting to cause errors recently.

The error in questio

[2021-11-23 09:48] beliaev-maksim commented on #311
what is the version of artifactory are you using ?

what is the version of python?

[2021-11-24 08:24] GerhardArya commented on #311
Artifactory is 7.27.10
Python is 3.10

[2021-11-24 09:45] beliaev-maksim commented on #311
we do not have such a version, latest is 0.7.742
and it does not support Py3.10

either wait for 0.8 or you can test `develop` branch to see if that works for you

[2021-11-24 10:01] GerhardArya commented on #311
Oooh, you mean the dohq-artifactory version? If so, it is version 0.7.742. So, this version doesn't support python 3.10? Would this be the cause for the errors? Which python version is supported?

[2021-11-24 10:08] beliaev-maksim commented on #311
try latest develop
`pip install git+https://github.com/devopshq/artifactory.git@develop`

[2021-11-24 10:18] GerhardArya commented on #311
It worked with that one. Would you recommend me to stick to using develop from now on? Or should I switch to 0.8 once it is released? Or should I somehow try to ensure that Python 3.9 is used instead of 3.10 but still use dohq-artifactory 0.7.742?

I'm using this inside of gitlab ci.

[2021-11-24 10:31] beliaev-maksim commented on #311
@GerhardArya
just wait for 0.8

we will release it on days

[2021-11-24 10:32] GerhardArya commented on #311
Will do! Closing the issue and thank again 👍

[2021-11-24 10:32] #311 closed

[2021-12-03 15:46] zhan9san commented on #288
Thank you @beliaev-maksim

Feel free to close this ticket

[2021-12-07 06:43] testworksau opened #317 "Potential Python 3.10 incompatibility - '_NormalAccessor' object has no attribute 'is_dir'"
We are running our builds on Windows with Python versions 3.6, 3.7, 3.8, and 3.9.

We've just added 3.10 to the mix and have found our build is now failing with the following error:

[code]

I've not had time to look any further into the cause of the issue, just wanted to report the problem with `dohq-artifactory-0.7.742` and Python `3.10.0` (`x86`)

[2021-12-07 08:38] m-stolle opened #318 "Large file upload ends with "Remote end closed connection without response""
Hello,

I get the following error when using `explode_archive=True` in `deploy_file` using larger files (100MB)
[code]

Seems like artifactory (whether intentionally or unintentionally) do not process requests properly if the User-Agent header is set to "python-requests/2.21.0"

## Possible Solution
Adding another User-Agent to the request fixes the issue, e.g.
`headers["User-Agent"] = "Mozilla/5.

[2021-12-09 09:08] #308 closed

[2021-12-09 09:08] #288 closed

[2021-12-09 09:22] beliaev-maksim commented on #317
try `pip install dohq-artifactory==0.8.0.dev0`

[2021-12-09 09:26] allburov commented on #318
We should ask JFrog about the issue first. It can be a web-server issue or Artifactory itself.

[2021-12-09 11:47] beliaev-maksim commented on #288
pip install dohq-artifactory==0.8.0.dev0

[2021-12-09 11:47] beliaev-maksim commented on #311
here is a release candidate
pip install dohq-artifactory==0.8.0.dev0

[2021-12-09 11:48] beliaev-maksim commented on #302
release candidate
pip install dohq-artifactory==0.8.0.dev0

[2021-12-13 23:01] testworksau commented on #317
`0.8.0.dev0` works fine - thanks @beliaev-maksim 🙏🏼

[2021-12-14 08:31] #317 closed

[2021-12-14 12:52] olivernovakovic opened #320 "mkdir ... is not a local repository"
Artifactory
"version" : "6.23.31",
"revision" : "62331900",

Python 3.6.9

dohq-artifactory (0.8.0.dev0)
but also v0.7

[code]

yields this error:

Traceback (most recent call last):
  File "/home/SysInf/.local/lib/python3.6/site-packages/dohq_artifactory/exception.py", line 22, in raise_for_status
    response.raise_for_status()
  File "/home/SysInf/.local/lib/python3.6/site-packages/requests/mod

[2021-12-14 12:54] beliaev-maksim commented on #320
looks like you try to deploy to remote repo, this is probably not possible by Artifactory itself

[2021-12-14 13:08] olivernovakovic commented on #320
thanks for the quick reply. Yes, correct. It is a remote repo. Maybe I misunderstood the use of this library.

If I replace:
`path.mkdir()`
with
`path.touch()`

than it kind of works. It will upload the specified zip file to Artifactory in the path:
https://my-artifactory/artifactory/libs-snapshot-local/myapp/
and name the file 1.0

[2021-12-14 13:37] beliaev-maksim commented on #320
Can you manually deploy from artifactory UI?

Since error 500 is a server error

[2021-12-14 14:52] olivernovakovic commented on #320
I haven't tried deploying manually, yet. But deploying in general works, e.g. using curl.
As stated above: I can event deploy using your library, e.g. this works fine:
[code]

[2021-12-15 08:10] beliaev-maksim opened #321 "move to CI"
@allburov @vasokot
Now we have new pipeline which is based on `tags` and I do not see a big benefit of committing into `develop` over committing directly to `master`.
We no more decide when to publish based on merge of develop, but we can do it in any point of a time

propose:
1. delete `develop` branch
2. enable only `squash` commits in GitHub settings. This will preserve repository history clean

[2021-12-15 17:08] dimbleby opened #322 "any chance of maintaining the changelog?"
Last entry is currently from April 2018.

Today I see that 0.8.0 was released.  Apparently it's a big enough change that it was worth bumping 0.7.x to 0.8.x; but I have no idea whether I can just take the new version or, if I do, what changes I should expect to have to make to my code.

Thanks!

[2021-12-15 17:12] beliaev-maksim commented on #322
version notation: X.X.X -> backwards incompatible.feature.patch
0.7->0.8 is a feature, thus, backwards compatible

[2021-12-15 17:15] dimbleby commented on #322
Good to know that you consider this backwards compatible, thanks!  A maintained changelog would be useful anyway, but it's reassuring for me to know that I can probably just take the bump.

(Even among those that do follow semantic versioning, conventions differ.  Eg in the Rust community, I _would_ expect 0.7 -> 0.8 to be breaking.)

[2021-12-15 17:18] beliaev-maksim commented on #322
we changed the pipeline and CI process, so, we will try to make changelog in next release

[2021-12-15 17:18] beliaev-maksim commented on #321
in addition would be good to add change log in GitHub releases page.

see #322

[2021-12-18 07:42] JohnChain opened #323 "'ArtifactoryPath' object has no attribute 'download_stats'"
When I run the sample code in README， I get the following error:

[code]

[code]

[2021-12-18 07:50] beliaev-maksim commented on #323
What is the version of this library you use?

[2021-12-18 08:14] JohnChain commented on #323
I find "download_stats' was added 9days ago, and after upgrading to 0.8.0, the sample code works fine.

thanks~

[2021-12-18 08:14] #323 closed

[2021-12-20 07:25] allburov commented on #322
I like the idea with changelog! We must provide at least CHANGELOG.mg file with manual notes

[2021-12-20 07:31] beliaev-maksim commented on #322
@allburov
would you like to create changelog retrospectively ?

[2021-12-20 07:35] allburov commented on #321
I like and have done it!

As about merging strategy - I don't think that we need to restrict it to "squash only" policy. But we will squash PRs with a lot of "fix 1" "fix 2" commits if it's needed.

Good idea! Let's talk about changelog in the source issue #322

[2021-12-20 07:35] #321 closed

[2021-12-20 07:38] beliaev-maksim commented on #321
@allburov
I see most of projects on GH switch to squash.
Even in case of changelog, this is a way easier to find what was changed, since with squash type, you basically need to add every commit to the changelog because each commit represents a fix or feature

[2021-12-20 07:51] allburov commented on #322
@dimbleby
I've created a record in the changelog for the latest (0.8.0) version. https://github.com/devopshq/artifactory/blob/master/CHANGELOG.md#080
Hope I didn't miss anything.

Now we will maintain it, TY!

[2021-12-20 07:51] #322 closed

[2021-12-21 15:02] kvecchione commented on #65
This update is causing an issue for us, recursive=0 is set on the PATCH but properties are still being set recursively when that is not desired.

[2021-12-21 15:22] beliaev-maksim commented on #65
@kvecchione
please open a new issue and provide a minimum reproducible snippet

[2021-12-21 16:51] kvecchione opened #326 "0.8.0 sets properties recursively when not desired"
To reproduce, use a nested structure in Artifactory and attempt to set a property at a parent level:

e.g. https://artifactory.com/root/L1/L2, want to set on L1 only

[code]

With the new PATCH mechanism, this will set the property on L1 and L2 when the intention was only to set on L1.

Rolling back to 0.7.742 fixes this behavior.

[2021-12-21 16:51] kvecchione commented on #65
https://github.com/devopshq/artifactory/issues/326

[2021-12-21 17:22] beliaev-maksim commented on #326
looks like a bug by @jfrog

in official docs there is a parameter to disable recursive, but it is not considered
https://www.jfrog.com/confluence/display/JFROG/Artifactory+REST+API#ArtifactoryRESTAPI-UpdateItemProperties

[2021-12-22 16:02] beliaev-maksim commented on #318
@m-stolle
can you check with JFrog support please?

for me that looks weird that another header solves the issue. Here is a defenition of the header:
_The User-Agent request header is a characteristic string that lets servers and network peers identify the application, operating system, vendor, and/or version of the requesting user agent._

basically, you should not change header for user agent. H

[2021-12-22 18:56] beliaev-maksim commented on #310
can you share a code snippet that causes issues?

[2021-12-23 06:29] m-stolle commented on #318
Tried StackOverflow and internal IT, I cant contact them directly. Only our IT can forward the request and if they do I will post the response.

[2021-12-23 09:21] #326 closed

[2021-12-23 13:06] #293 closed

[2021-12-31 08:26] Gia-Vinh opened #329 "AttributeError: 'ArtifactoryPath' object has no attribute 'archive'"
I try to use download a folder from artifactory and get this error: AttributeError: 'ArtifactoryPath' object has no attribute 'archive'
My code is similar to this, with changes only in path, user, password.

[code]
The folder can be downloaded as zip file using browser. So, I guess it's not due to server settings

[2021-12-31 08:41] beliaev-maksim commented on #329
Do you use dohq-artifactory==0.8.0 ?

[2021-12-31 08:59] Gia-Vinh commented on #329
Silly me. I'm using old version. Haha.
Thank you anyway.

[2021-12-31 09:00] #329 closed

[2021-12-31 11:05] Gia-Vinh opened #330 "AttributeError: 'ArtifactoryPath' object has no attribute 'read'"
Hi, I'm trying to modified the code block in the usage guide to download a folder:

[code]
My current error is saying: AttributeError: 'ArtifactoryPath' object has no attribute 'read'

[2021-12-31 11:07] beliaev-maksim commented on #330
please refer to documentation
you use it incorrect

[2021-12-31 11:18] Gia-Vinh commented on #330
[code]
The code in the doc is here. I dont change much besides the url, and the directory path.

[2021-12-31 11:22] beliaev-maksim commented on #330
![image](https://user-images.githubusercontent.com/51964909/147820749-71fc69d6-2e8b-45ba-92fc-4dcd93c20b5a.png)

[2021-12-31 11:29] Gia-Vinh commented on #330
The open() is actually an attempt of mine to solve the error. I forgot to delete it before ask.

[2021-12-31 11:34] beliaev-maksim commented on #330
does that work
`path.archive().writeto(out="my.zip", chunk_size=100 * 1024)`
?

[2021-12-31 11:43] beliaev-maksim commented on #330
I revert myself

read() is actually required and following snippet works fine for me:

[code]

[2021-12-31 11:46] Gia-Vinh commented on #330
this works.

[2021-12-31 11:49] beliaev-maksim commented on #330
@Gia-Vinh
can you try snippet from above with `read()` as well ?

if fails, what is the stack trace?

[2021-12-31 12:40] Gia-Vinh commented on #330
[code]
It works.
Thanks.

[2021-12-31 13:03] beliaev-maksim commented on #330
great, we will update docs to reflect the change

happy new year!

[2022-01-03 06:46] macwanj opened #332 "Conda package for artifactory"
It would be supremely useful to have a conda distribution for artifactory. At my company we have internal libraries that have to be built with pip because of our dependency on artifactory. However we do all our production deployments via conda. This sometimes results in unstable conda environments due to the mix-up of pip and conda packages. Having artifactory on conda will allow us to consider bu

[2022-01-26 19:44] jfining opened #333 "Incorrect Docker API Version"
When retrieving an existing docker respository with V2 enabled, there is a mismatch in Repository.docker_api_version and Repository.raw["dockerApiVersion"].

For example, create a new docker repository in the artifactory web console with V2 enabled. Then:

Retrieve the repository and enumerate the object's properties:
[code]

You'll see something like this:

If you update the repo using `repo.upda

[2022-02-11 11:41] donhui opened #334 "AttributeError: 'ArtifactoryBuildManager' object has no attribute 'rest_post'"
Hi, I'm trying to execute build promote, code as follows:
[code]
I get the error:
[code]

[2022-02-16 09:28] rootjammy opened #335 "Where can I put .artifactory_python.cfg in windows?"
.artifactory_python.cfg seems is arbitrary  a file in this module, is it necessary or do we have any method to disable this? I put .artifactory_python.cfg in  C:\Users\{MY_ACCOUNT}, but it doesn't help.

Can anyone help on this?

Thanks!

[2022-02-16 09:42] beliaev-maksim commented on #335
it looks to be a bug on Windows

it will not recognize the file. We will fix it in the next release

you will need to manually override the value of https://github.com/devopshq/artifactory/blob/fdc1115884559f6b2123015288301d080aaa03e4/artifactory.py#L65

in your script:

[code]

[2022-02-18 03:38] eraccn commented on #335
Thank you for this help.

[2022-03-05 09:59] #330 closed

[2022-03-11 23:50] karthik-nannapaneni opened #337 "find_project is failing."
find_project is failing with  401 Client Error: Unauthorized for URL: https://xxxxxxartifacts.jfrog.io/access/api/v1/projects/test
dohq_artifactory.exception.ArtifactoryException: {"errors":[{"code":"UNAUTHORIZED","detail":"Unauthorized","message":"HTTP 401 Unauthorized"}]}

[2022-03-12 00:30] #337 closed, assigned to nobody

[2022-03-16 18:08] thomas-bottesch opened #340 "Recursive=False ignored when setting properties on repository"
A little background. Whenever I deploy to an artifactory I like to set the latest version of my debian package as
a property on the repository itself so that I can get this latest version from artifactory without the need to retrieve any file from it.

Summarized what I try to do is:
[code]
I would expect from this call, that the property is only set on the repository itself but instead it is set

[2022-03-17 12:30] thomas-bottesch commented on #340
It seems that this bug was actually already fixed in the current master. However, the current release available on pip (0.8.0) does not include this fix. It would be great if you could do another so that this bug is fixed in the pip version.

[2022-03-17 12:45] thomas-bottesch commented on #326
Just to clarify something up here. We are using artifactory > 7.x and the bug is also occurring there:
The correct property that needs to be set is "recursiveProperties". (Which is done by the fix).

It seems that the following documentation is the correct one for newer Artifactory versions:
https://www.jfrog.com/confluence/display/RTF6X/Artifactory+REST+API#ArtifactoryRESTAPI-UpdateItemProperties

[2022-03-17 12:53] belawaeckerlig commented on #326
I can confirm, that even on version 7.33.12, the Update Item Properties API endpoint is still using 'recursiveProperties' instead of 'recursive'. This seems to be a bug in the documentation.
I guess they wanted to change the API, but did not do it to keep it backwards compatible.

[2022-03-17 13:13] beliaev-maksim commented on #340
@thomas-bottesch
0.8.1.dev0 is released
https://pypi.org/project/dohq-artifactory/0.8.1.dev0/

@allburov
FYI

[2022-03-17 13:30] thomas-bottesch commented on #340
Thank you for the quick release.

[2022-03-17 13:31] beliaev-maksim commented on #340
@thomas-bottesch
no problem

so far it is a beta package, we need more time to release stable. But it will work fine via `pip install`

[2022-03-28 02:22] LeiYangGH opened #342 "add verify = False to bypass ssl certificate validation?"
When the server ssl certificate expired, is there any way to bypass ssl certificate validation?
like verify = False parameter in requests module.

[2022-03-28 02:26] zhan9san commented on #342
This may help you.

[ssl-cert-verification-options](https://github.com/devopshq/artifactory#ssl-cert-verification-options)

[2022-03-28 03:17] LeiYangGH commented on #342
thanks! it worked!

[2022-03-28 03:17] #342 closed

[2022-04-23 18:30] jugmac00 opened #348 "test.zip leaks into source tree"
# Reproduction

[code]
This creates a `test.zip` in the local source tree, which is not git-ignored.

## Suggestions
- use https://docs.pytest.org/en/latest/how-to/tmp_path.html
- or put it in .gitignore

[2022-05-17 22:38] engnatha commented on #234
Surprised to see this closed. It's still an issue.

[2022-05-18 04:21] allburov commented on #234
@engnatha thank you for the feedback! Do you have an idea how to fix the issue?
We'd appreciate a pull request.

[2022-05-18 04:23] allburov commented on #348
@jugmac00 Hi, appreciate the feedback!
Could you create a PR with changes that fix the issue?

[2022-05-18 05:22] engnatha commented on #234
Yeah, how can I get added to the project so I can push a new branch?

[2022-05-18 05:23] allburov commented on #234
@engnatha you may create a fork and then create a PR from there

[2022-06-07 05:10] allburov opened #352 "Let's release version 0.8.1 (on 28 June 2022)"
We have few changes that are waiting for release them

- Changes: https://github.com/devopshq/artifactory/compare/0.8.0...master
- Release draft: https://github.com/devopshq/artifactory/releases/tag/untagged-f9d3f795b989f53188ca

[2022-06-07 05:12] allburov commented on #352
@Tim55667757 @apazdnikov @vasokot @beliaev-maksim
Hi!
We're going to release a new version of `dohq-artifactory` on 28 June 2022.

Please review changes and let us know if we need to fix something in the release!

[2022-06-07 07:12] beliaev-maksim commented on #352
@allburov
looks like we have some items missed in changelog, right?

[2022-06-15 17:21] Stealthii opened #353 "PEP-484 type annotations"
Long shot feature request, but typing annotations are not provided with this package.

I'm working on a PR to provide the critical outliers, but just wanted to track this issue.

[2022-06-19 12:11] #234 closed

[2022-06-24 08:40] ricardo-molina opened #355 "Cannot import name 'ArtifactorySaaSPath' from 'artifactory'"
I am working with `dohq-artifactory==0.8.0` and `artifactory==0.1.17` in a Flask 2.1.2 application using Python 3.9.

I try importing `ArtifactorySaaSPath` like this: `from artifactory import ArtifactorySaaSPath` and I get this error:
[code]

Any idea what's going on, please?
Thank you.

[2022-06-24 08:43] beliaev-maksim commented on #355
Modules are clashing

Uninstall `artifactory`, which is legacy

[2022-06-24 08:46] #355 closed

[2022-06-28 10:20] beliaev-maksim commented on #352
@allburov
yes, thank you!

[2022-06-29 05:12] allburov commented on #352
@beliaev-maksim thank you for being attentive to details!

[2022-07-03 00:59] briantist opened #356 "`find_repository` silently fails without a Pro license"
The calls to `find_repository` (and the specific versions) seem to expect that a 400 error means the repository can't be found, and so it doesn't raise an error and returns as if there's no result:

https://github.com/devopshq/artifactory/blob/2fa2b64a9c5b84f595ca9145f7fb07369608b91a/dohq_artifactory/admin.py#L140-L144

But the OSS version of Artifactory hides a bunch of repository API calls behin

[2022-07-03 01:40] briantist commented on #24
I imagine that the free cloud version supports the same APIs as the OSS version (which is missing a lot of basic stuff). I am dealing with the same issues trying to run integration tests with my project (which depends on this project!), so I'll be watching this issue as well:
- https://github.com/briantist/galactory/issues/6

My project is a little easier since most of what it actually does, does

[2022-07-27 08:31] mrobertseidowsky-gpsw opened #358 "400 Client Error: for url: https://my-artifactory/artifactory/api/search/aql"
Hello, sometimes I get this error while doing a request:
`400 Client Error:  for url: https://my-artifactory/artifactory/api/search/aql`
(`my-artifactory` is changed locally of course)
It come and goes randomly without code change and can be blocking during long time.
What can I do?

[2022-07-27 12:23] beliaev-maksim commented on #358
what is the minimal reproducible ?

[2022-07-28 08:17] mrobertseidowsky-gpsw commented on #358
Hello, I'm sorry, my request was bad (using `1m` instead `1mo`) it's just that the error was not clear so I didn't suspect a syntax error in `created_last` field). Closing this ticket with my apologies.

[2022-07-28 08:17] #358 closed

[2022-08-08 15:39] #334 closed, assigned to nobody

[2022-08-15 06:59] #333 closed

[2022-08-15 08:52] #335 closed

[2022-08-24 10:08] #348 closed

[2022-08-26 09:29] wNvSp1r1T opened #365 "Permission target"
Is it possible to create permission templates?
i'm trying to do it like :
    artifactory_ = ArtifactoryPath(
        f"https://art/artifactory/", token=art_token, verify=False)
    permission = artifactory_.find_permission_target(f"{repo_name}")
    if permission is None:
        permission = PermissionTarget.create(artifactory_)
but getting exception:
    f"Create {self.__class__.__name__} [{get

[2022-08-26 14:29] donhui opened #366 "get build runs failed with an exception"
when I get build runs, it failed with an exception, the error log as follows
[code]
It can be seen from the above log that build name is `maven-demo` and build number is `1-build-snapshot` ,
but actually build name is `maven-demo/1-build-snapshot`.
The reason for the error is that build name contains `/`.
To solve this problem, I think the build name need to be encoded to `maven-demo%2F1-build-sna

[2022-08-29 06:30] donhui commented on #365
The correct code shoud be:
[code]

[2022-08-29 11:03] vinodneelakantam opened #369 "I want to access latest build number , but no luck"
Hello Team ,

I want to access latest artifacts or latest build number from artifactory  . But , no straight api for this  ?

for now , im using my own code - **but i honestly feel there should be better way**

[code]

[2022-08-29 11:15] allburov commented on #369
@vinodneelakantam did you try to use AQL? https://www.jfrog.com/confluence/display/JFROG/Artifactory+Query+Language

[2022-08-29 11:26] vinodneelakantam commented on #369
@allburov : I want this in python

[2022-08-29 11:34] allburov commented on #369
@vinodneelakantam AQL is just a query language that this library also support - so just use AQL to sort your artifacts right and get the result! https://github.com/devopshq/artifactory#artifactory-query-language

I'm not sure that it support semver sorting for custom properties like `build.number` tho.
But if semver is only grows up with time - you can sort it by `created`

[2022-08-30 19:45] rybrow opened #370 "Add support for "targetTag" variable of Docker Build promotion API"
Looking at the docs and the source code for the promote_docker_image method, it doesnt look like the "targetTag" variable is supported as per https://www.jfrog.com/confluence/display/JFROG/Artifactory+REST+API#ArtifactoryRESTAPI-PromoteDockerImage

- https://devopshq.github.io/artifactory/#promote-docker-image
- https://github.com/devopshq/artifactory/blob/master/artifactory.py#L2222

We should be

[2022-08-30 19:57] beliaev-maksim commented on #370
I think this was added only in the latest version of API

[2022-09-04 11:13] allburov commented on #369
@vinodneelakantam any luck with AQL?

I'm closing the issue, we have enough examples about AQL in readme.md, you just need to experiment and find your own solution!

[2022-09-04 11:13] #369 closed

[2022-09-05 06:38] #366 closed

[2022-09-06 12:39] Ch3ri0ur opened #372 "python3.11 - AttributeError: module 'pathlib' has no attribute '_Accessor'"
Hi, I was testing Python 3.11 and stumbled upon this error and thought I'd bring it up.
[code]

I am on WSL2, and Python 3.11rc1.

[2022-09-11 14:20] #372 closed

[2022-09-13 06:45] maxstrobel opened #378 "Missing callable check for progress_func"
In [artifactory.py](https://github.com/devopshq/artifactory/blob/master/artifactory.py) a check to validate if `progress_func` is given, is missing - if `progress_func` is None a `TypeError` (`TypeError: 'NoneType' object is not callable`) is raised.

[code]
https://github.com/devopshq/artifactory/blob/1b2d87bc8c249ebea81dda10349b329efe74b48c/artifactory.py#L1400

[2022-09-13 08:34] #378 closed

[2022-09-13 23:07] mrdalrym commented on #378
This breaks backwards compatibility when explicitly specifying `progress_func=None`.
It shows there in the documentation:
 :param progress_func: Provide custom function to print out or suppress print by setting to None

 Maybe this should have been `if progress_func and callable(progress_func) ...`?

[2022-09-14 06:55] beliaev-maksim commented on #378
@mrdalrym
I don't understand your point, there is already a PR that fixes it
What is the issue that you see?

[2022-09-14 10:20] allburov commented on #378
@mrdalrym the version with the fix `0.8.3`, could you have look at it?

[2022-09-14 16:36] mrdalrym commented on #378
My bad, I just saw stuff failing on my end, saw this as a last change and was around when the 0.8.2 release went out.  But looks is callable(None) will handle that case (i.e. this was the fix for that issue).  Thanks for fixing this fast!

[2022-09-23 14:08] OddBloke opened #380 "Feature request: Expose `lastUpdated` in `.stat()`"
Artifactory does not perform deb metadata update synchronously: we've run into errors in automation due to this, and so we now have some logic which waits for the metadata we expect to be present. Having the `lastUpdated` timestamp available to us in `.stat()`s return would make this logic easier to implement: currently we directly call `artifact._accessor.get_stat_json(artifact)` to get access to

[2022-09-23 14:10] OddBloke commented on #380
One potential solution to this, and a whole class of related requests, would be to store the JSON returned by Artifactory on the `ArtifactoryFileStat` object returned: then our code could do (e.g.) `artifact.stat().json['lastUpdated']`. (I could contribute this change if you'd like!)

[2022-09-26 06:43] allburov commented on #380
Hi!

It'd be better if `stat` function accepts the new `raw` parameter (`False` by default) and if it's set - save json response to `_json` field in `ArtifactoryFileStat` (None by default) and we can get access to original json by calling `json()` function.

So to access `lastUpdated` you'll need to run:
[code]

It would be great!

[2022-09-26 08:49] beliaev-maksim commented on #380
currently stats has `lastModified`, do you mean artifactory API provides additional output?
https://github.com/devopshq/artifactory/blob/5f8cb2e85e02da4bdd07ed913aaa19e39881f9c1/artifactory.py#L889

if yes, then why just not to include it the same way, what will be the purpose of getting raw data here?

[2022-09-26 13:07] OddBloke commented on #380
Good point! I had thought that `ArtifactoryFileStat` was mimicking the return type of a stdlib stat interface (and so I didn't want to add another similar field to it), but looking again that isn't true.

`utime` doesn't feel quite right as a field name, I think the name collision with https://docs.python.org/3/library/os.html#os.utime would cause some confusion. How would we feel about following

[2022-09-26 13:09] beliaev-maksim commented on #380
@OddBloke
it is not `utime`, it is `mtime` -> `m` stands for modified

[2022-09-26 13:10] beliaev-maksim commented on #380
what is the difference between last updated and last modified?

[2022-09-26 20:44] OddBloke commented on #380
Right, `mtime` already exists: I was talking about the potential _new_ name.

https://stackoverflow.com/a/69496989 is the best explanation I've found.

[2022-09-27 06:40] beliaev-maksim commented on #380
@OddBloke
Got it, please submit a PR with an explicit name. I don't like current naming as well, but we should keep it for compatibility

[2022-09-27 19:21] OddBloke commented on #380
I've submitted https://github.com/devopshq/artifactory/pull/382: I could also submit a follow-up which deprecates `mtime` and `ctime`, if you would like?

[2022-09-29 12:19] HWiese1980 commented on #305
I have just run into the same problem. I installed `dohq-artifactory==0.8.3` (exact entry) through a `requirements.txt` from PyCharm. Somehow it installed a package named `dohq_artifactory` (underscore instead of dash) which did not contain the `artifactory.py`. At least that is what I'm assuming after `pip uninstall dohq-artifactory` did not work, however `pip uninstall dohq_artifactory` did. Aft

[2022-09-30 07:39] #380 closed

[2022-10-03 11:12] allburov opened #384 "Hacktoberfest 2022"
Let's participate in Hacktoberfest 2022! https://hacktoberfest.com/participation/#maintainers

TODO:

- [X] Add the “hacktoberfest” topic to your repository to OPT-IN TO HACKTOBERFEST and indicate you’re looking for contributions.
- [X] Apply the “hacktoberfest” label to issues you want contributors to help with in your GitHub or GitLab project.
- [ ] Add a CONTRIBUTING.md file with contribution g

[2022-10-03 11:13] allburov commented on #384
@fuzzmz @beliaev-maksim great idea, thank you!
https://github.com/devopshq/artifactory/pull/383

I think we need to move CONTRIBUTING.md from docs directory to the root one
I added `hacktoberfest` label, let's apply it to the issues!

[2022-10-03 11:14] fuzzmz commented on #384
Not entirely sure, but I think the label can also be applied directly to the [community](https://github.com/devopshq) so it won't need to be manually applied to each repo (for example the tfs or artifactory-cleanup).

[2022-10-04 07:01] beliaev-maksim commented on #318
no clear understanding why

[2022-10-04 07:01] #318 closed

[2022-10-05 05:38] allburov commented on #384
Where can I set it, could one help me?

I've found only *Most used topics* - but it probably gets from the repositories in the community
![image](https://user-images.githubusercontent.com/4376814/193988783-911c571b-7df9-4c94-8430-b5bcd9d61db9.png)

[2022-10-05 05:39] #356 closed

[2022-10-05 12:43] donhui commented on #384
It seems that the label can't be applied to organization.

[2022-10-05 13:31] briantist commented on #356
@fuzzmz @allburov thanks for that improvement in #383 . Could you clarify what that means for using `find_repository()`?

I may be reading the code wrong but it seems like the problem I describe here will still happen, and that the only way to know it will be if you're looking at debug output.

The issue is that on a pro license 400, the routine will still return as though the repository doesn't e

[2022-10-09 01:40] briantist opened #386 "`path` property of a `GenericRepository` seems to be a malformed `ArtifactoryPath` object"
The `path` property of a repository object is an `ArtifactioryPath` to the repository.
The `str` representation of this object is correct, but it seems like the `parts` property is missing the repository itself.

This ends up being confusing because while it looks correct as a string or repr, many other methods use the parts, for example if you used this to construct a new `ArtifactoryPath`.

I wi

[2022-10-23 18:55] miltlino opened #389 "Lack of proxy connectivity support to remote jfrog repositories"
Hello,
Do you plan to add any module to enable login and working with jfrog artifactory behind a proxy ?

[2022-10-24 02:23] allburov commented on #389
Hi!
You can control all `requests` options by passing `session` object to a new instance  https://github.com/devopshq/artifactory#session + https://requests.readthedocs.io/en/latest/user/advanced/#proxies

[2022-10-24 02:23] #389 closed

[2022-10-24 08:52] miltlino commented on #389
Hello again,

Thank you for your response.
One last question please. How is set the username and password there ?

[2022-10-24 08:59] allburov commented on #389
The question is more about `requests` library, I think something like https://stackoverflow.com/questions/13506455/how-to-pass-proxy-authentication-requires-digest-auth-by-using-python-requests will help you
If not - please consult in `requests`s documentation about that case

[2022-10-24 09:40] miltlino commented on #389
ok thank you :)

[2022-11-07 09:53] Luc1412 opened #392 "Add support for maven related actions"
Add support for
- Calculate Maven Index: `POST /api/maven?repos=libs-release-local,ext-release-local&force=1`
- Calculate Maven Metadata: `POST /api/maven/calculateMetadata/libs-release-local/org/acme`
- Generate Maven POM File: `POST /api/maven/generatePom/libs-local/org/apache/commons/commons-lang3/`

[2022-11-09 02:35] LeiYangGH opened #393 "rename file when uploading artifact"
following official tutorial [uploading-artifacts](https://devopshq.github.io/artifactory/#uploading-artifacts).

[code]

By default the uploaded artifact will be same name as the local one.
Is there parameter to specify a new name for the uploaded artifact?

[2022-11-17 15:12] sm-gravid-day opened #396 "glob method broken in python 3.11"
The glob method is broken in python 3.11. I've tested the same code in 3.10.8 and all is fine, but looks like things have changed in 3.11...

[code]

[2022-11-20 10:22] Sajitus opened #397 "Password generator broken + create api key issue"
Hello!
First of all great job on this module, it's amazing!

First issue - Password generator:
Lately Jfrog changed their password policy and you need lower letter + upper letter + digits + punctuation mark for the password, your module only provides lower and upper letter, I've modified it as follows:

[code]

Second issue - Create api key:
So I'm trying to create an API key as per your documenta

[2022-11-20 13:25] Sajitus commented on #397
Found the issue with api_key, needed to do as follows:
user_key = User(path, username, password=user_password)
user_key.api_key.create()
# get Token key
user_key.api_key.get()
my_key = str(user_key.api_key)
return (my_key)

[2022-11-21 10:02] allburov commented on #397
@Sajitus hi man, thank for the kind words!
Could you separate issues please? It's better to work and discuss one thing at a time.

1. If you can create pull request with the changes - it'd be great!

[2022-11-21 10:03] #397 closed

[2022-11-29 15:40] donhui commented on #393
as you said, the official tutorial as follows:
[code]

you can change the path url and  remove `path.mkdir()`, eg:
[code]
and it will meet your requirements.

[2022-11-29 15:43] donhui commented on #396
I think the issue has something to do with this change：
pathlib._Accessor was removed from Python 3.11: https://github.com/python/cpython/pull/25701

[2022-11-30 13:28] RoeeDr opened #398 "Support "FEDERATED" repository types"
Currently, calling `get_repositories` on artifactory that contains federated repositories will crash:
[code]
This happens since `create_by_type` doesn't support the federated type and just returns None.

I can also open a PR on it myself, since the federated type should mostly be handled like a local repository if I understand correctly from the docs:
https://www.jfrog.com/confluence/display/JFROG

[2022-11-30 13:41] beliaev-maksim commented on #398
looks like it is similar to local + additional features

I think we need to create a new type and for the moment just inherit the functionality of local one.

please submit a PR with proposal